<!-- post -->
{#todo-ravi: order messages in entity via annotation instead here#}
{% set  user_timezone = app.user.timezone %}

{% for message in thread.messages | reverse %}
    {% set user = message.sender %}
    {#{% set user_timezone = user.timezone %}#}
    {% set image_user = user.images|length ? user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
    <article class="post">
        <header class="head">
            <div class="author-img">
                <div class="img-holder">
                    <img alt="{{ user.getName }}"
                         src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}">
                </div>
                <a class="author-name" title="{{ user.getName }}"
                   href="{{ path('cocorico_user_profile_show', { 'id': user.id }) }}">
                    <span>{{ user.getName }}</span>
                </a>
            </div>
            <div class="meta">
                <time>{{ message.createdAt|localizeddate('short', 'none', 'fr', user_timezone) }}</time>
            </div>
        </header>
        <div class="post-content">
            <p>{{ message.body|strip_private_info|nl2br }}</p>
        </div>
        <footer class="footer">
            <span class="time">
                <i class="icon-clock"></i>{{ message.createdAt|localizeddate('none', 'short', 'fr', user_timezone) }}
                <small><em>({{ user_timezone|timezone_name }})</em></small>
            </span>
        </footer>
    </article>
{% endfor %}