{% trans_default_domain 'cocorico_listing' %}

{#home search form fields without start ane end form#}
{#<fieldset>#}
<legend class="hidden">form-category</legend>
<div class="container">
    <div class="keyword clearable">
        {% if bundleExist('CocoricoElasticsearchBundle') %}
            {% include '@CocoricoElasticsearch/_form_keywords.html.twig' %}
        {% endif %}
    </div>
    <div class="row" style="line-height:18px;font-size:14px">
        <div class="col-xs-12">
            <div class="area">
                <div class="col">
                    <div class="title">
                        Cherchez
                    </div>

                    <div class="multiselect listing-category">
                        {{ form_widget(form.categories) }}
                    </div>
                </div>
                <div class="col">
                    <div class="title">
                        {#
                        {{ form_label(form.location.address, null, {
                            'required': false
                        }) }}
                        #}
                        Lieu d'intervention
                    </div>

                    <div class="field-holder">
                        {{ form_errors(form.location.address) }}
                        {{ form_widget(form.location.address, {
                            'id': 'location',
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'listing.search.form.address.placeholder'|trans
                            }
                        } ) }}
                        {{ form_rest(form.location) }}
                    </div>
                </div>
                <button id="home-submit" type="submit" class="btn btn-default">
                        {{ 'listing.search'|trans }}
                        <img src="/svg/search.svg" />
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:1.5rem;">
        <div class="col-xs-12">
            <div class="area">
                <div class="itou-info">
                    <img class="shape" src="/images/info_shape.png">
                    <p>
                        Notre service est actuellement ouvert sur les régions Hauts-de-France, l’Île-de-France et Grand Est.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{#</fieldset>#}

