{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'home.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block theme %}home-page{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_home' %}

        {% block sub_header %}
            {#<!-- visual -->#}
            <div class="visual text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-8 col-lg-push-2">
                            <div class="title-holder">
                                <div class="title-frame">
                                    <h1>
                                        {{ 'home.header.title'|trans|raw }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                        {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchHomeForm')) }}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block main %}
            <!-- infoarea -->
            <div class="infoarea container">
                <div class="row">
                    <!-- info-box -->
                    <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                        <img src="{{ asset('images/icon1.png') }}" alt="icon description" class="pull-left icon">

                        <div class="textbox">
                            <h2>
                                <a href="#">{{ 'home.subinfo.title1'|trans|raw }}</a>
                            </h2>

                            <p>
                                {{ 'home.subinfo.desc1'|trans|raw }}
                            </p>
                        </div>
                    </div>
                    <!-- info-box -->
                    <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                        <img src="{{ asset('images/icon2.png') }}" alt="icon description" class="pull-left icon">

                        <div class="textbox">
                            <h2>
                                <a href="#">{{ 'home.subinfo.title2'|trans|raw }}</a>
                            </h2>

                            <p>
                                {{ 'home.subinfo.desc2'|trans|raw }}
                            </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm"></div>
                    <!-- info-box -->
                    <div class="col-xs-12 col-sm-6 col-md-4 info-box">
                        <img src="{{ asset('images/icon3.png') }}" alt="icon description" class="pull-left icon">

                        <div class="textbox">
                            <h2>
                                <a href="#">{{ 'home.subinfo.title3'|trans|raw }}</a>
                            </h2>

                            <p>
                                {{ 'home.subinfo.desc3'|trans|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'CocoricoCoreBundle:Frontend/Home:_high_rank.html.twig'  with {
            'listings': listings
            } only %}

            {{ render(controller('CocoricoCoreBundle:Frontend/Home:rssFeeds')) }}

        {% endblock %}

        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

    <script>
        // Categories
        $(function () {

            // Set default favourites in the listing
            setDefaultFavourites();

            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico")|e('js') }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico")|e('js') }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico")|e('js') }}'
            );
        });
    </script>
{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Home/_index_markup.jsonld.twig' ignore missing with {
    'listings': listings
    } only %}
{% endblock %}
