{% trans_default_domain 'cocorico_booking' %}
<div class="btns-holder text-center">
    {% if app.user is same as(booking.user) %}
        {% if canBeCanceledByAsker %}
            <a href="{{ path('cocorico_dashboard_booking_edit_asker', {'id': booking.id, 'type': 'cancel'}) }}"
               class="btn btn-default" data-toggle="modal" data-target="#modal">
                {{ 'booking.show_asker.cancel'|trans }}
            </a>
        {% endif %}

        {% if booking.status in staticProperty('Cocorico\\CoreBundle\\Entity\\Booking', 'payedStatus') %}
            <a target="_blank" href="{{ path('cocorico_dashboard_booking_show_voucher', {'id': booking.id}) }}"
               class="btn btn-default" data-toggle="" data-target="">
                {{ 'booking.show_asker.download_voucher'|trans }}
            </a>
        {% endif %}
    {% elseif app.user is same as(booking.listing.user) %}
        {% if canBeAcceptedOrRefusedByOfferer %}
            <a href="{{ path('cocorico_dashboard_booking_edit_offerer', {'id': booking.id, 'type': 'refuse'}) }}"
               class="btn btn-refuse" data-toggle="modal" data-target="#modal">
                {{ 'booking.show_offerer.refuse'|trans }}
            </a>
            <a href="{{ path('cocorico_dashboard_booking_edit_offerer', {'id': booking.id, 'type': 'accept'}) }}"
               class="btn btn-default" data-toggle="modal" data-target="#modal">
                {{ 'booking.show_offerer.accept'|trans }}
            </a>
        {% endif %}
    {% endif %}
</div>