{% trans_default_domain 'cocorico_booking' %}

{% if booking.status == BookingConstants.STATUS_PAYED %}
    {% set listing = booking.listing %}
    {% set listing_location = listing.location %}

    <div class="location-holder">
        <div class="contact-info">
            <strong class="title">{{ 'booking.show.contact.title'|trans }}</strong>
            <dl>
                <dt>{{ other_user.firstName }} {{ other_user.lastName }}</dt>
                <dd>&nbsp;</dd>
                <dt>{{ 'booking.show.phone'|trans }}</dt>
                <dd>
                    <a href="tel:{{ other_user.phonePrefix }}{{ other_user.phone }}">
                        {{ other_user.phonePrefix }} {{ other_user.phone }}&nbsp;
                    </a>
                </dd>
                <dt>{{ 'booking.show.email'|trans }}</dt>
                <dd>
                    <a href="mailto:{{ other_user.email }}">{{ other_user.email }}</a>
                </dd>
            </dl>
        </div>
        <address>
            <strong class="title">{{ 'booking.show.address.title'|trans }}</strong>
            <span>{{ listing_location.streetNumber }} {{ listing_location.route }}</span>
            <span>{{ listing_location.zip }}</span>
            <span>
                {{ listing_location.city }}<br>
                {{ listing_location.country | country_name(app.request.locale) }}
            </span>

            {% if addressDelivery %}
                {% include '@CocoricoCore/Dashboard/Booking/_booking_show_address_delivery.html.twig' with {
                    'booking': booking,
                } only %}
            {% endif %}
        </address>
    </div>
{% endif %}