{% trans_default_domain 'cocorico_booking' %}

{% set image_user = other_user.images|length ? other_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
{% set listing = booking.listing %}
{% set translation = listing.translations[app.request.locale] %}
{% set image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}

{% set amount_total = amount_total | format_price(app.request.locale, 2) %}

{% set title =  'booking.modal.accept.title'|trans %}
{% set action_title =   'booking.modal.action.accept'|trans %}
{% set amount_label =   'booking.modal.price'|trans %}

{% if type == 'refuse' %}
    {% set title =  'booking.modal.refuse.title'|trans %}
    {% set action_title =  'booking.modal.action.refuse'|trans %}
{% elseif type == 'cancel' %}
    {% set title =  'booking.modal.cancel.title'|trans %}
    {% set action_title = 'booking.modal.action.cancel'|trans %}
    {% set amount_label = 'booking.modal.amount_to_refund'|trans %}
{% endif %}

<!-- Modal -->
<div id="booking-form-container">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="title">{{ title }}</strong>
    </div>

    <div class="modal-body">
        {% if app.request.isXmlHttpRequest %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' only %}
        {% endif %}

        <div class="info-holder">
            <div class="img-holder">
                <a href="{{ path('cocorico_listing_show', { 'slug': translation.slug }) }}">
                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image) | imagine_filter('listing_medium') }}"
                         alt="{{ translation.title }}">
                </a>
            </div>
            <div class="info-block">
                <strong class="sub-title">{{ translation.title }}</strong>

                <div class="meta">
                    <span class="applicant">
                        <strong>
                            <a href="{{ path('cocorico_user_profile_show', {'id' : other_user.id}) }}">
                                {{ other_user.name }}
                            </a>
                        </strong>
                    </span>
                    {% if other_user_rating %}
                        {{ other_user_rating| cocorico_star_rating }}
                    {% endif %}
                </div>

                {% if not timeUnitIsDay %}
                    <div>
                        <strong>{{ 'form.time_zone'|trans({}, 'cocorico_user') }} :</strong>
                        {{ user_timezone|timezone_name }}
                    </div>
                {% endif %}
                
                <ul class="list-inline booking-detail">
                    <li>
                        {{ 'booking.show.start:'|trans }}
                        <time>
                            {{ booking.start|localizeddate('short', 'none', 'fr', user_timezone) }}
                        </time>
                    </li>
                    <li>
                        {{ 'booking.show.end:'|trans }}
                        <time>
                            {{ booking.end|localizeddate('short', 'none', 'fr', user_timezone) }}
                        </time>
                    </li>
                    {% if not timeUnitIsDay %}
                        <li>
                            {{ 'booking.show.start_time:'|trans }}
                            <time>
                                {{ booking.startTime|localizeddate('none', 'short', 'fr', user_timezone) }}
                            </time>
                        </li>
                        <li>
                            {{ 'booking.show.end_time:'|trans }}
                            <time>
                                {{ booking.endTime|localizeddate('none', 'short', 'fr', user_timezone) }}
                            </time>
                        </li>
                    {% endif %}
                </ul>

                <strong class="booking-duration">
                    {% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}
                    {{ 'booking.duration:'|trans }}
                    <span class="normal-text">
                        {{ booking_duration|add_time_unit_text }}
                    </span>
                </strong>

                <div class="price-holder">
                    <span class="sub-title">{{ amount_label }}</span>
                    <strong class="price">
                        <span data-id="booking-total">
                            {{ amount_total }}
                        </span>
                        <sup>
                            <small>{{ vat_inclusion_text }}</small>
                        </sup>
                    </strong>
                </div>

                {% if bundleExist('CocoricoListingDepositBundle') %}
                    {% include 'CocoricoListingDepositBundle:Dashboard:Booking/_show_amount_deposit.html.twig' with {
                        'booking': booking
                    } only %}
                    <br/>
                {% endif %}

                {{ 'listing.show.cancellation_policy:'|trans({}, 'cocorico_listing') }}
                <strong data-id="booking-policy">{{ booking.cancellationPolicyText|trans({}, 'cocorico_listing') }}</strong>
                <button data-html="true" data-placement="right" data-toggle="tooltip" class="tooltip-button"
                        type="button" data-original-title="{{ cancellationPolicies() }}"> ?
                </button>
            </div>
        </div>

        {% if booking_can_be_edited %}
            {#{{ form_errors(form) }}#}
            {{ form_start(form, {'attr': {'id': 'booking-edit-form', 'class': 'form-message'}}) }}

            <fieldset>
                <legend class="hidden">message form</legend>
                <div class="no-scroll">
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
                <div class="agree">
                    {{ form_errors(form.tac) }}
                    {{ form_widget(form.tac) }}
                    <span class="label">
                        {{ form_label(form.tac, null, {'required': false} ) }}
                        <a href="{{ path('cocorico_page_show', { 'slug': 'nav.tac.slug'|trans }) }}" target="_blank">
                            {{ 'booking.new.tac.link'|trans }}
                        </a>*
                    </span>
                </div>
                <input type="submit" class="hidden">
            </fieldset>
            {{ form_end(form) }}

            <div class="modal-footer">
                <a id="booking-edit-return" href="#" class="btn btn-default">
                    {{ 'booking.modal.action.return'|trans }}
                </a>
                <a id="booking-edit-submit" href="#" class="btn btn-default">
                    {{ action_title }}
                </a>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $(function () {
        jcf.replaceAll("#booking-form-container");

        jQuery('[data-toggle="tooltip"]').tooltip({});

        //Submit form
        var $formContainer = $("#booking-form-container");
        $formContainer.submitAjaxForm(function () {
            jcf.replaceAll("#booking-form-container");
        });

        $("#booking-edit-submit").on("click", function (e) {
            $(this).parent('.modal-footer').html('<img src="{{ asset('images/loading.gif') }}" />');
            e.preventDefault();
            $("#booking-edit-form").submit();
            return false;
        });

        $("#booking-edit-return").on("click", function (e) {
            e.preventDefault();
            $("#modal").modal('hide');
            return false;
        });
    });
</script>