{% embed "@CocoricoCore/Dashboard/layout_show_bill.html.twig" %}
    {#@formatter:off#}
    {% trans_default_domain 'cocorico_booking' %}

    {% set listing = booking.listing %}
    {% set asker = booking.user %}
    {% set offerer = listing.user %}
    {% set user_timezone = booking.timeZoneAsker %}

    {% set translation = listing.translations[app.request.locale] %}
    {% set listing_address = listing.location.getCompleteAddress %}

    {% block header %}
        <h2>{{ 'booking.voucher.voucher' | trans }}</h2>
        <br/>
        <div>
            <p>
                <strong>{{ 'booking.voucher.booking_number' | trans }} : </strong>{{ booking.id }}
                <br/>
                <strong>{{ 'booking.voucher.client_name' | trans }} : </strong>
                {{ asker.firstName ~ ' ' ~ asker.lastName }}
            </p>
        </div>
    {% endblock %}

    {% block content %}
        <div>
            <strong>{{ 'booking.voucher.address' | trans }} : </strong> {{ listing_address }}
            <br/>
            <strong>{{ 'booking.voucher.phone' | trans }} :</strong> {{ offerer.phone }}
        </div>

        {% if addressDelivery %}
            <div>
                <br/>
                {% include '@CocoricoCore/Dashboard/Booking/_booking_show_address_delivery.html.twig' with {
                    'booking': booking,
                } only %}
            </div>
        {% endif %}
        <div>
            <br/>
            <strong>{{ 'booking.voucher.date' | trans }} : </strong>
            {{ booking.start|localizeddate('short', 'none', 'fr', user_timezone) }} -
            {{ booking.end|localizeddate('short', 'none', 'fr', user_timezone) }}

            {% if not timeUnitIsDay %}
                <br/>
                <strong>{{ 'booking.show.start_time:'|trans }} </strong>
                {{ booking.startTime|date('H:i') }}
                <br/>
                <strong>{{ 'booking.show.end_time:'|trans }}</strong>
                {{ booking.endTime|date('H:i') }}
            {% endif %}

            <br/>

            <strong>{{ 'booking.voucher.duration' | trans }} :</strong>
            {{ booking.duration(endDayIncluded, timeUnit, timeUnitIsDay) | add_time_unit_text }}
        </div>

        {% if bundleExist('CocoricoDeliveryBundle') %}
            {% include 'CocoricoDeliveryBundle:Dashboard:Booking/_show_delivery_in_voucher.html.twig' with {
            'booking': booking
            } only %}
        {% elseif bundleExist('CocoricoCarrierBundle') %}
            {% include 'CocoricoCarrierBundle:Dashboard:Booking/_show_carrier_in_voucher.html.twig' with {
            'booking': booking
            } only %}
        {% endif %}

        <div>
            <br/>

            {% if not timeUnitIsDay %}
            <div>
                <strong>{{ 'booking.voucher.title' | trans }} : {{ translation.title }}</strong>
            </div>
            <br/>

            <div>
                <strong>{{ 'booking.voucher.description' | trans }} : </strong>
                <br/>
                {{ translation.description|strip_private_info }}
            </div>
            {% endif %}
        </div>


        {% if bundleExist('CocoricoListingOptionBundle') %}
            <div class="voucher">
                {% include 'CocoricoListingOptionBundle:Dashboard:Booking/_booking_show_options.html.twig' with {
                'booking': booking
                } only %}
            </div>
        {% endif %}
    {% endblock %}


    {% block bill_info %}
    {% endblock %}


    {% block booking_info %}
    {% endblock %}
{% endembed %}
