{# Quote Message Offerer #}
{% trans_default_domain 'cocorico_mail' %}

{% trans_default_domain 'cocorico_mail' %}

{% block subject -%}
    {% autoescape false %}
    {{ cocorico_site_name }} Nouveau message
    {% endautoescape %}
{%- endblock %}

{% block message %}
    Bonjour {{user.firstName }}

    Vous avez reçu un nouveau message concernant une demande de contact sur une de vos annonces,
    vous pouvez vous rendre sur le Marché de l'Inclusion pour en prendre connaissance.

    ID: {{ id }}
    Lien direct : <a href="{{ link }}">{{ link }}</a>
{% endblock %}

{% block body_text %}
    {% autoescape false %}
    {{ message }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "@CocoricoCore/Mails/layout.html.twig" %}
        {% trans_default_domain 'cocorico_mail' %}

        {% block content %}
            {% autoescape false %}
            {{ message|raw|nl2br }}
            {% endautoescape %}
            {#Do not remove this comment. It is used for BDD testing #}
            <!--registration-->
        {% endblock %}
    {% endembed %}
{% endblock %}
