{% trans_default_domain 'cocorico_listing' %}

<!-- post -->
{%- for listingTmp in listings -%}
    {% set listing = listingTmp[0] %}
    {% set listing_translation = listing.translations[app.request.locale] %}
    {% set listing_location = listing.location %}
    {% set listing_user = listing.user %}
    {% set price = (listing.price / 100) | format_price(app.request.locale, 0) %}
    {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}
    {% set user_image = listing_user.images|length ? listing_user.images[0].name : UserImageConstants.IMAGE_DEFAULT %}

    <article class="listing-post col-sm-6 col-xs-12" data-lid="{{ listing.id }}">
        <a href="javascript:void(0)" id="favourite-{{ listing.id }}" class="favourit">
            <i class="icon-heart"></i>
            <span class="hidden">favourit</span>
        </a>
        <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}"
           class="listing-box">
            <div class="frame">

                <div class="post-info">
                    <div class="img-holder">
                        <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~  listing_image) | imagine_filter('listing_large') }}"
                             alt="{{ listing_translation.title ~ " " ~ price }}"/>
                    </div>

                    <div class="box">
                        <div class="box-holder">
                            <div class="head">
                                <div class="time-price">
                                    <strong class="price">{{ price }}</strong>

                                    <p>
                                        {{ vatInclusionText(app.request.getLocale()) }}
                                        / {{ (0)|add_time_unit_text }}
                                    </p>
                                </div>
                            </div>
                            <div class="foot">
                                <div class="area">
                                    <div class="rating-block">
                                    <!-- rating -->
                                    {% if listing.averageRating %}
                                        {{ listing.averageRating | cocorico_star_rating }}
                                            <span class="comment-counter">({{ listing.commentCount }})</span>
                                    {% endif %}
                                    </div>
                                    {% if  listing.certified %}
                                        <span class="certified">
                                            <i class="icon-ok"></i>
                                            {{ 'listing.search.result.certified'|trans }}
                                        </span>
                                    {% endif %}
                                </div>
                                <strong class="title list-comma">
                                    {%- for listingListingCategory in listing.listingListingCategories -%}
                                        <span>{{ listingListingCategory.category.translations[app.request.locale].name }}</span>
                                    {%- endfor -%}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-content">
                    <div class="alignleft">
                        <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ user_image) | imagine_filter('user_xsmall') }}"
                             alt="{{ listing_user.firstName }}"/>
                    </div>
                    <div class="textbox">
                        {% if bundleExist('CocoricoDeliveryBundle') and not app.request.xmlHttpRequest %}
                            {% include 'CocoricoDeliveryBundle:Frontend:Listing/_show_delivery.html.twig' with {
                            'listing_delivery': listing.delivery
                            } only %}
                        {% endif %}

                        <h2>{{ listing_translation.title }}</h2>

                        <p>{{ listing_location.city }} </p>

                        {#<!--Debug:#}
                        {#accuracy : {{ listingTmp.accuracy|default(-1) }}<br/>#}
                        {#distance : {{ listingTmp.distance|default(-1) }}<br/>#}
                        {#distance_range : {{ listingTmp.distance_range|default(-1) }}<br/>#}
                        {#platformNotation : {{ listing.platformNotation|default(-1) }}<br/>#}
                        {#reallyAvailable : {{ listingTmp.really_available|default(-1) }}<br/>#}
                        {#-->#}
                    </div>
                </div>
            </div>
        </a>
    </article>
{%- else -%}
    {{ 'listing.search.result.no_results'|trans }}
{%- endfor -%}

<div data-id="nb-result-map-drag"
     style="color: transparent">{{ 'listing.search.result.results'|trans({'%nb_results%': nb_listings}) }}</div>