{% trans_default_domain 'cocorico' %}

<!-- bottom-container -->
<div class="bottom-container">
    <!-- footer-aside -->
    <aside class="aside-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- contact-info -->
                    {#
                    <div class="contact-info pull-right">
                        <strong class="title">{{ 'footer.contact_us.title'|trans }}</strong>
                        <ul class="list-unstyled">
                            <li>
                                <address><i class="icon-location"></i>{{ cocorico_address }}</address>
                            </li>
                            <li>
                                <a href="mailto:{{ cocorico_contact_mail_obfuscated|raw }}">
                                    <i class="icon-mail-alt"></i>
                                    {{ cocorico_contact_mail_obfuscated|raw }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    #}
                    <!-- navarea -->
                    <nav class="navarea">
                        <ul id="footer-list" class="list-unstyled footer_list">
                            {#
                            <li class="title">{{ 'footer.about.title'|trans }}</li>
                            #}
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.faq.slug'|trans }) }}">
                                    {{ 'footer.how_it_works.link'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('cocorico_page_inclusion') }}">
                                    {{ 'footer.the_team.link'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}">
                                    {{ 'footer.who_we_are.link'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('cocorico_contact_new') }}">
                                    {{ 'footer.contact_us.link'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.legal_notices.slug'|trans }) }}">
                                    {{ 'footer.legal_notices.link'|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </aside>


    {{ render(controller('CocoricoCMSBundle:Frontend/Footer:index',{
        request: app.request
    })) }}

    <!-- footer of the page -->
    <footer id="footer" class="container text-center">
        <div class="row align-items-center">
                <div class="col-4 col-sm-2">
                    <img src="/images/logo_ministere_du_travail.svg" class="min_trav">
                </div>

                <div id="footer-title" class="col-8 col-sm-5">
                    <h5>
                        <b>lemarche</b><span>.inclusion.beta.gouv.fr</span>
                    </h5>
                    <span class="d-block">
                        Marché de l'inclusion, service en expérimentation
                    </span>
                </div>
            </div>
            <a href="https://github.com/betagouv/itou-cocorico/"
               class="by pull-right credit" target="_blank">
                {{ 'Github' }}
            </a>
        </div>
        {#
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.legal_notices.slug'|trans }) }}"
                   class="by pull-right">
                    {{ 'footer.legal_notices.link'|trans }}
                </a>

                <a href="https://github.com/betagouv/itou-cocorico/"
                   class="by pull-right credit" target="_blank">
                    {{ 'Github' }}
                </a>

                <p>
                    &copy; {{ "now"|date("Y") }} {{ 'footer.all_right_reserved'|trans }}
                    <a href="{{ path('cocorico_home') }}">{{ cocorico_site_name }}</a>
                </p>
            </div>
        </div>
    #}
    </footer>
</div>
