{% trans_default_domain 'cocorico' %}

{% if app.environment == 'dev' %}
    <div class="alert alert-warning fixed-bottom">DEV</div>
{% endif %}
{% if app.session.get('isAdmin') %}
    <div class="alert alert-danger fixed-bottom">ADMIN MODE</div>
{% endif %}

<!-- header of the page -->
<!-- ITOU migration -->
<header class="s-header s-header--marche sticky-top" role="banner" id="header">
  <section class="s-header__container container">
    <div class="s-header__row row">
      <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
        <a href="{{ path('cocorico_home') }}" class="s-header__logo-ministere"><img src="/itou/images/logo-ministere-emploi.svg" alt="Ministère de l'emploi"></a>
      </div>
      <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
        <a href=""/><img src="/itou/images/logo-marche-inclusion.svg" alt="Le marché de l'inclusion"></a>
      </div>
      <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
        <nav role="navigation">
          <ul>
            <li>
                <a href="{{ path('cocorico_listing_favourite') }}" tabindex="5" rel="noopener" id="h_fav">
                    <span>{{ 'nav.favorites.link'|trans }}</span>
                    <span id="fav-count" class="fs-xs badge badge-marche badge-pill ml-1"></span>
                </a>                
            </li>
            {# User info #}
            {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
                <li id="dashboard-dropdown" class="dropdown">
                    <a id="dashboard-link" class="btn btn-outline-primary" href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}" tabindex="6" title="My Dashboard" data-toggle="dropdown" role="button" aria-expanded="false" rel="noopener">
                        <span>{{ 'nav.dashboard.link'|trans }}</span>
                        <span id="nb-unread-msg" class="fs-xs badge badge-marche badge-pill ml-1"></span>
                    </a>
                    {% include '@CocoricoCore/Frontend/Common/_itou_nav.html.twig' with {'nav_dashboard_current':'', 'dropdown_extra_class':''} only %}
                </li>
            {%- else -%}
                <li>
                    <a id="h_login" href="{{ path('cocorico_user_login') }}" tabindex="7" rel="noopener">
                        <span>{{ 'nav.login.link'|trans }}</span>
                        <span class="ml-1"><img src="/itou/images/ico-user.svg" alt=""></span>
                    </a>
                </li>
            {%- endif -%}
            {# New listing link #}
            {% if app.session.get('canPublish') %}
                <li>
                    <a id="new_offer" href="{{ path('cocorico_listing_new') }}" class="btn btn-outline-primary" tabindex="9" rel="noopener">
                        <span>{{ 'nav.listing.new.link'|trans }}</span>
                    </a>
                </li>
            {% endif %}            
            {%- if app.user is null -%}
                <li>
                    <a id="h_connect" href="{{ path('cocorico_user_register') }}" tabindex="6"  class="btn btn-primary btn-ico" rel="noopener">
                        <span>
                            {{ 'nav.register.link'|trans }}
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                            <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                        </svg>
                    </a>
                </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none" data-toggle="burger">
        <span id="burger"><img src="/itou/images/picto-burger.svg" alt="Menu" /></span>
        <span id="close"><img src="/itou/images/picto-close.svg" alt="Fermer" /></span>
      </div>
      <div id="burgerNav">
        <nav role="navigation">
          <ul>
            <li>
                <a href="{{ path('cocorico_listing_favourite') }}" tabindex="5" rel="noopener" id="h_fav">
                    <span>{{ 'nav.favorites.link'|trans }}</span>
                    <span id="fav-count" class="fs-xs badge badge-marche badge-pill ml-1"></span>
                </a>                
            </li>
            {# User info #}
            {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
                <li id="dashboard-dropdown" class="dropdown">
                    <a id="dashboard-link" class="btn btn-outline-primary" href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}" tabindex="6" title="My Dashboard" data-toggle="dropdown" role="button" aria-expanded="false" rel="noopener">
                        <span>{{ 'nav.dashboard.link'|trans }}</span>
                        <span id="nb-unread-msg" class="fs-xs badge badge-marche badge-pill ml-1"></span>
                    </a>
                    {% include '@CocoricoCore/Frontend/Common/_itou_nav.html.twig' with {'nav_dashboard_current':'', 'dropdown_extra_class':'position-static d-block'} only %}
                </li>
            {%- else -%}
                <li>
                    <a id="h_login" href="{{ path('cocorico_user_login') }}" tabindex="7" rel="noopener">
                        <span>{{ 'nav.login.link'|trans }}</span>
                        <span class="ml-1"><img src="/itou/images/ico-user.svg" alt=""></span>
                    </a>
                </li>
            {%- endif -%}
            {# New listing link #}
            {% if app.session.get('canPublish') %}
                <li>
                    <a id="new_offer" href="{{ path('cocorico_listing_new') }}" class="btn btn-outline-primary" tabindex="9" rel="noopener">
                        <span>{{ 'nav.listing.new.link'|trans }}</span>
                    </a>
                </li>
            {% endif %}            
            {%- if app.user is null -%}
                <li>
                    <a id="h_connect" href="{{ path('cocorico_user_register') }}" tabindex="6"  class="btn btn-primary btn-ico" rel="noopener">
                        <span>
                            {{ 'nav.register.link'|trans }}
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                            <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                        </svg>
                    </a>
                </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
