{% trans_default_domain 'cocorico' %}

<section class="s-prefooter s-prefooter--marche">
  <div class="s-prefooter__container container">
    <div class="s-prefooter__row row">
      <div class="s-prefooter__col col-12 col-sm-auto d-flex align-items-center">
        <div class="s-prefooter__logo">
          <img src="/itou/images/logo-marche-inclusion.svg" alt="">
        </div>
      </div>
      <div class="s-prefooter__col col-12 col-sm d-flex align-items-center justify-content-start justify-content-sm-end justify-content-lg-start">
        <p class="mb-0">Le site de la plateforme <br class="d-none d-lg-inline">de l'inclusion dédiée au marché, <br class="d-none d-lg-inline">service en expérimentation</p>
      </div>
      <div class="s-prefooter__col col-12 col-lg-6 d-flex align-items-center">
        <ul class="s-prefooter__gridlist">
          <li><a href="{{ path('cocorico_page_show', { 'slug': 'nav.faq.slug'|trans }) }}" rel="noopener" target="_blank">{{ 'footer.how_it_works.link'|trans }}</a></li>
          <li><a href="{{ path('cocorico_page_show', { 'slug': 'nav.the_team.slug'|trans }) }}" rel="noopener" target="_blank">{{ 'footer.the_team.link'|trans }}</a></li>
          <li><a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}">{{ 'footer.who_we_are.link'|trans }}</a></li>
          <li><a href="https://github.com/betagouv/itou-cocorico/" rel="noopener" target="_blank" class="is-external">{{ 'Github' }}</a></li>          
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="s-footer" role="contentinfo" id="footer">
  <section class="s-footer-help">
    <div class="s-footer-help__container container">
      <div class="s-footer-help__row row">
        <div class="s-footer-help__col col-12 col-lg">
          <nav role="navigation">
            <ul>
              <li><a href="#" rel="noopener" target="_blank" class="is-external">Besoin d'aide ?</a></li>
              <li><a href="{{ path('cocorico_contact_new') }}" rel="noopener" target="_blank" class="is-external">{{ 'footer.contact_us.link'|trans }}</a></li>
              <li><a href="#" rel="noopener" target="_blank" class="is-external">Inscription Newsletter</a></li>
            </ul>
          </nav>
        </div>
        <div class="s-footer-help__col col-12 col-lg-auto">
          <ul>
            <li><span>Nous suivre</span></li>
            <li><a href="https://twitter.com/inclusion_gouv" rel="noopener" target="_blank"><img src="/itou/images/picto-twitter.svg" height="25" alt="Rejoignez-nous sur Twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/inclusion-gouv/" rel="noopener" target="_blank"><img src="/itou/images/picto-linkedin.svg" height="25" alt="Rejoignez-nous sur Linkedin"></a></li>
            <li><a href="https://www.facebook.com/inclusion.gouv/" rel="noopener" target="_blank"><img src="/itou/images/picto-facebook.svg" height="25" alt="Rejoignez-nous sur Facebook"></a></li>
            <li><a href="https://www.instagram.com/inclusion_gouv/" rel="noopener" target="_blank"><img src="/itou/images/picto-instagram.svg" height="25" alt="Rejoignez-nous sur Instagram"></a></li>
            <li><a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" rel="noopener" target="_blank"><img src="/itou/images/picto-youtube.svg" height="25" alt="Rejoignez-nous sur Youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="s-footer-nav">
    <div class="s-footer-nav__container container">
      <div class="s-footer-nav__row row">
        <div class="s-footer-nav__col col-5 col-lg-2 d-flex align-items-center">
          <div class="s-footer-nav__logo">
            <img src="/itou/images/logo-republique-francaise.svg" alt="Rébublique Française" class="img-fluid">
          </div>
        </div>
        <div class="s-footer-nav__col col-7 col-lg-4 d-flex align-items-center justify-content-end justify-content-lg-start">
          <div class="d-inline-block text-center">
            <span class="d-block">
              <img src="/itou/images/logo-plateforme-inclusion.svg" height="60" alt="Plateforme de l'inclusion">
            </span>
            <span class="d-block mt-2">
              <img src="/itou/images/logo-accelere-betagouv.svg" alt="Accéléré par Beta.gouv.fr">
            </span>
          </div>
        </div>
        <div class="s-footer-nav__col col-12 col-lg-6 d-flex align-items-center">
          <div>
            <p class="mb-3">Notre mantra issu du Pacte Ambition IAE : Permettre à chacun de trouver sa place. Libérons notre potentiel d'inclusion pour créer 100 000 emplois de plus.</p>
            <nav role="navigation">
              <ul>
                <li><a href="https://emplois.inclusion.beta.gouv.fr" rel="noopener" target="_blank">Les emplois</a></li>
                <li><a href="https://communaute.inclusion.beta.gouv.fr" rel="noopener" target="_blank">La communauté</a></li>
                <li><a href="https://pilotage.inclusion.beta.gouv.fr" rel="noopener" target="_blank">Le pilotage</a></li>
                <li><a href="https://lemarche.inclusion.beta.gouv.fr" rel="noopener" target="_blank">Le marché</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="s-footer-legal">
    <div class="s-footer-legal__container container">
      <div class="s-footer-legal__row row">
        <div class="s-footer-legal__col col-12 col-lg">
          <nav role="navigation">
            <ul>
              <li><a href="{{ path('cocorico_page_show', { 'slug': 'nav.legal_notices.slug'|trans }) }}" rel="noopener" target="_blank">{{ 'footer.legal_notices.link'|trans }}</a></li>
              <li><a href="#" rel="noopener" target="_blank">Gestion des cookies</a></li>
              <li><a href="#" rel="noopener" target="_blank">Accessibilité : non conforme</a></li>
            </ul>
          </nav>
        </div>
        <div class="s-footer-legal__col col-12 col-lg text-lg-right"><span>© République Française 2021</span></div>
      </div>
    </div>
  </section>
</footer>

{{ render(controller('CocoricoCMSBundle:Frontend/Footer:index',{
    request: app.request
})) }}
