{% trans_default_domain 'cocorico_listing' %}

{#search form fields without start ane end form#}
{# This is the search form in the result page #}
<fieldset>
    <legend class="hidden">form-category</legend>
    <div class="form-holder" style="display:flex;">
        <div class="keyword clearable">
            {% if bundleExist('CocoricoElasticsearchBundle') %}
                {% include '@CocoricoElasticsearch/_form_keywords.html.twig' %}
            {% endif %}
        </div>


        <div style="line-height:18px;font-size:14px">
            <div class="col-xs-12">
                <div class="area">
                    <div class="col">
                        <div class="title">
                            Cherchez
                        </div>

                        <div class="multiselect listing-category">
                            {{ form_widget(form.categories) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="title">
                            {#
                            {{ form_label(form.location.address, null, {
                                'required': false
                            }) }}
                            #}
                            Lieu d'intervention
                        </div>

                        <div class="field-holder" style="margin-left:-5px">
                            {{ form_errors(form.location.address) }}
                            {{ form_widget(form.location.address, {
                                'id': 'location',
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'listing.search.form.address.placeholder'|trans
                                }
                            } ) }}
                            {{ form_rest(form.location) }}
                        </div>
                    </div>
                        <button id="home-submit" type="submit" class="btn btn-default">
                                {{ 'listing.search'|trans }}
                                <span style="font-family:fontello2;">
                                &#128269;
                                </span>
                        </button>
                </div>
            </div>
        </div>
        <div class="col time" style="display:none;position:absolute;left:-4000rem">
            {#In case of modification don't forget to add fields "start, end AND nb_days" #}

            {% if timeUnitFlexibility and form.flexibility is defined %}
                <div class="col flexibility">
                    <strong class="title">
                        {{ form_label(form.flexibility) }}
                    </strong>

                    <div class="input-append field-holder">
                        {{ form_errors(form.flexibility) }}
                        {{ form_widget(form.flexibility, {
                            'attr': {
                                'class' : 'no-arrow'
                            }
                        }) }}
                        <small>{{ 'listing_search.form.flexibility_day'|trans }}</small>
                    </div>
                </div>
            {% endif %}
            <div style="display:none">
                {{ form_widget(form.date_range) }}

                {% if not timeUnitIsDay %}
                    {{ form_widget(form.time_range) }}
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>
