{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
            <div id="form-registerlogin" class="col-xs-12">
                <form class="form-signup validate-form form-reset-password-2"
                      action="{{ path('cocorico_user_resetting_reset', {'token': token}) }}"
                      method="POST">

                    {{ form_errors(form) }}

                    <fieldset>
                        <legend class="hidden">form-reset-password</legend>
                        <h1>{{ 'user.reset.h1'|trans }}</h1>

                        <div class="field-row">
                            <div>{{ form_errors(form.plainPassword.first) }}</div>
                            <span class="label">
                                {{ form_label(form.plainPassword.first) }}
                            </span>

                            <div class="field-holder">
                                {{ form_widget(form.plainPassword.first, {
                                    'attr': {
                                        'class': "form-control"
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="field-row">
                            <div>{{ form_errors(form.plainPassword.second) }}</div>
                            <span class="label">
                                {{ form_label(form.plainPassword.second) }}
                            </span>

                            <div class="field-holder">
                                {{ form_widget(form.plainPassword.second, {
                                    'attr': {
                                        'class': "form-control"
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="btn-block text-center">
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-default">{{ 'resetting.reset.submit'|trans }}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}
