{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_booking' %}

{% set voucherBundleEnabled = bundleExist('CocoricoVoucherBundle') %}
{% set optionBundleEnabled = bundleExist('CocoricoListingOptionBundle') %}
{% set mangopayBundleEnabled = bundleExist('CocoricoMangoPayBundle') %}
{% set deliveryBundleEnabled = bundleExist('CocoricoDeliveryBundle') %}
{% set carrierBundleEnabled = bundleExist('CocoricoCarrierBundle') %}
{% set depositBundleEnabled = bundleExist('CocoricoListingDepositBundle') %}

{% set listing = booking.listing %}
{% set listing_translation = listing.translations[app.request.locale] %}
{% set listing_location = listing.location %}
{% set booking_duration = booking.duration(endDayIncluded, timeUnit) %}

{%- block meta_title -%}
    {{ 'booking.new.meta_title'|trans({}, 'cocorico_meta') ~ " " ~ listing_translation.title ~ ", " ~ listing_location.city ~ " - " ~ booking.start|localizeddate('short', 'none', 'fr') ~ ", " ~ booking_duration|add_time_unit_text ~ " : "  ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'booking.new.meta_desc'|trans({}, 'cocorico_meta') ~ ' ' ~ listing_translation.description|truncate(200, true) }}
{%- endblock -%}

{%- block stylesheets -%}
    {{ parent() }}

    {% if display_errors is defined and not display_errors %}
        <style>
            .errors {
                display: none;
            }
        </style>
    {% endif %}
{%- endblock -%}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% trans_default_domain 'cocorico_booking' %}

        {% block breadcrumbs %}
            <!-- breadcrumbs -->
            {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }}
        {% endblock %}

        {% block main %}
            <a href="{{ path('cocorico_listing_show', {'slug':listing_translation.slug} ) }}">
                &lt; {{ 'booking.new.back'|trans }}
            </a>
            <!-- two-columns -->
            <div class="twocolumns row alt">
                <!-- contain the main content of the page -->
                <div id="content" class="listing-area col-xs-12 col-md-9">
                    <div class="content-holder">
                        {% include 'CocoricoCoreBundle:Frontend:Booking/_form_new.html.twig' with {
                            'booking' : booking,
                            'form': form
                        } only %}
                    </div>
                </div>

                {% include 'CocoricoCoreBundle:Frontend:Booking/_side.html.twig' with {
                    'booking' : booking
                } only %}
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    {% if deliveryBundleEnabled %}
        {% include 'CocoricoDeliveryBundle:Frontend:Booking/js/_geocoding_js.html.twig' with {
            'listing_location': listing_location
        } only %}
    {% elseif carrierBundleEnabled %}
        {% include 'CocoricoCarrierBundle:Frontend:Booking/js/_geocoding_js.html.twig' with {} only %}
    {% endif %}

    {% if optionBundleEnabled %}
        {% include 'CocoricoListingOptionBundle:Frontend:Booking/js/_options_js.html.twig' only %}
    {% endif %}
{% endblock %}
