{% trans_default_domain 'cocorico_quote' %}

{% set optionBundleEnabled = bundleExist('CocoricoListingOptionBundle') %}

{% set user_timezone = app.session.get('timezone', timeZone) %}

{% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

{{ form_start(form, {'attr': {'id': 'quote-new'}}) }}

{{ form_errors(form) }}
<div class="form-message">
    <fieldset>
        <legend class="hidden">form-communication</legend>
        <div class="container">
            <div class="row" style="margin-bottom:1rem;">
                 {{ form_errors(form.prestaStartDate) }}
            </div>
            <div class="row" style="margin-bottom:1rem;">
                <div class="col-sm-4">
                     <strong class="title">
                         {{ form_label(form.prestaStartDate, null, {'required': true}) }}
                     </strong>
                     <span class="add-on">
                         <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                     </span>
                </div>
                <div class="col-sm-4">
                     <div class="input-append date field-holder datepicker-holder-ajax">
                         {{ form_widget(form.prestaStartDate, {
                             'id': 'prestaStartDate',
                             'type': 'text',
                             'attr': {
                                 'class': 'form-control from',
                                 'placeholder': '   /      /',
                                 'title': 'presta-start-date'
                             }
                         }) }}
                     </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:1rem;">
                {{ form_errors(form.budget) }}
            </div>
            <div class="row" style="margin-bottom:1rem;">
                <div class="col-sm-4">
                    <strong class="title">
                        {{ form_label(form.budget, null, {'required': false}) }}
                    </strong>
                    <span class="add-on">
                        <i data-date-icon="icon-info" data-time-icon="icon-time" class="icon-info"></i>
                    </span>
                </div>
                <div class="col-sm-4">
                    <div class="field-holder">
                        {{ form_widget(form.budget, {
                            'id': 'budget',
                            'type': 'text',
                            'attr': {
                                'class': 'form-control',
                                'placeholder': '',
                                'title': 'budget'
                            }
                        }) }}

                    </div>
                </div>
            </div>
        </div>
        <div class="legend">
            Détaillez ci-dessous votre demande de contact
        </div> 

        {{ form_errors(form.communication) }}
        <div class="no-scroll">
            {{ form_widget(form.communication,{
                'attr': {
                    'placeholder': 'quote.new.communication.placeholder'|trans
                }
            }) }}
        </div>
        <input type="submit" class="hidden" value="submit">
    </fieldset>
</div>

<div class="btns-area">
    {#
    {{ form_errors(form.tac) }}
    <div class="agreement">
        {{ form_widget(form.tac) }}
        <span class="label">
            {{ form_label(form.tac, null, {'required': false} ) }}
            <a href="{{ path('cocorico_page_show', { 'slug': 'nav.tac.slug'|trans }) }}"
               target="_blank">
                {{ 'quote.new.tac.link'|trans }}
            </a>*
        </span>
    </div>
    #}

    <input type="submit" value="{{ 'quote.new.validation.submit'|trans }}" class="btn btn-default">
</div>

{{ form_end(form) }}

    <script>
        $(function () {
            initDatePickerAjax(function () {
                jcf.replaceAll("#quote-form");
            });
        });
    </script>
