{% trans_default_domain 'cocorico' %}

{%- if app.session.get('profile') == 'offerer' -%}
    {%- set menuItems = {
    "quotes" : {
        "link": path('cocorico_dashboard_quote_offerer'),
        "text": "Demandes de Contact",
        "ariaControls": "devis",
        "dataText": "Demandes de Contact"
    },
    "listings": {
        "link": path('cocorico_dashboard_listing'),
        "text": 'nav.dashboard.listings.link'|trans,
        "ariaControls": "properties",
        "dataText": "Mes annonces"
    },
    "profile": {
        "link": path('cocorico_user_dashboard_profile_edit_about_me') ,
        "text": 'nav.dashboard.profile.link'|trans,
        "ariaControls": "profile",
        "dataText": "Mon profil"
    }
    } -%}
{%- else -%}
    {%- set menuItems = {
    "quotes" : {
        "link": path('cocorico_dashboard_quote_asker'),
        "text": "Demandes de Contact",
        "ariaControls": "devis",
        "dataText": "Demandes de Contact"
    },
    "profile": {
        "link": path('cocorico_user_dashboard_profile_edit_about_me') ,
        "text": 'nav.dashboard.profile.link'|trans,
        "ariaControls": "profile",
        "dataText": "Mon profil"
    }
    } -%}
{%- endif -%}

{%- if is_granted("IS_AUTHENTICATED_FULLY") -%}
    <!-- Nav tabs -->
    <nav class="tabset-holder">
        <a href="#" class="opener">
            <span class="hidden">opener</span>
            <i class="icon-down-open-mini"></i>
        </a>
        <ul class="nav nav-tabs" role="tablist">
            {% for name,menu in menuItems %}
                <li role="presentation" class="{{ nav_dashboard_current == name ? 'active' : '' }}">
                    <a href="{{ menu.link }}" aria-controls="{{ menu.ariaControls }}" role="tab"
                       data-text="{{ menu.dataText }}">
                        {{ menu.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{%- endif -%}
