{% extends '@CocoricoUser/Dashboard/Profile/layout.html.twig' %}

{% trans_default_domain 'cocorico_user' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'about_me' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <!-- form-area -->
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}

    <fieldset>
        <legend class="hidden">legend</legend>
        <!-- alert -->
        {{ form_errors(form) }}
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- tab about-me -->
            <div id="about" class="tab-pane active" role="tabpanel">

                <!-- form-holder -->
                <div class="form-holder columns-holder alt">
                    <h2>Profil Utilisateur</h2>
                    <div class="about-info">
                        <div class="column">
                            <div class="field-row">
                                {{ form_errors(form.firstName) }}
                                <span class="label">{{ form_label(form.firstName) }}</span>
                                <div class="field-holder">{{ form_widget(form.firstName) }}</div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.lastName) }}
                                <span class="label">{{ form_label(form.lastName) }}</span>
                                <div class="field-holder">{{ form_widget(form.lastName) }}</div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.email) }}
                                <span class="label">{{ form_label(form.email) }}</span>
                                <div class="field-holder">{{ form_widget(form.email) }}</div>
                            </div>
                            {% if not user.isSIAE  %}
                            <div class="field-row">
                                {{ form_errors(form.companyName) }}
                                <span class="label">{{ form_label(form.companyName) }}</span>
                                <div class="field-holder">{{ form_widget(form.companyName) }}</div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.siret) }}
                                <span class="label">{{ form_label(form.siret) }}</span>
                                <div class="field-holder">{{ form_widget(form.siret) }}</div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.website) }}
                                <span class="label">{{ form_label(form.website) }}</span>
                                <div class="field-holder">{{ form_widget(form.website) }}</div>
                            </div>
                            {% else %}

                                {% do form.companyName.setRendered %}
                                {% do form.siret.setRendered %}
                                {% do form.website.setRendered %}
                            {% endif %}
                        </div>
                        {% if not user.isSIAE  %}
                        <div id="images-new" class="column">
                            {{ form_errors(form.image.new) }}
                            <div class="image-upload-holder">
                                {% set image_user = user.images|length > 0 and user.images.get(0) ? user.images.get(0).name : UserImageConstants.IMAGE_DEFAULT %}
                                <div class="img-holder files">
                                    <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_small') }}"/>
                                </div>
                                <div style="margin-bottom:1rem">Formats acceptés : JPG/JPEG, PNG</div>
                                {{ form_widget(form.image.new ) }}
                            </div>

                            {{ form_errors(form.image.uploaded) }}
                            {{ form_widget(form.image.uploaded ) }}

                            {#
                            <div id="drop-zone">
                                {{ 'profile.drop.files'|trans }}
                            </div>
                            #}

                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>

                            <h3>{{ 'profile.images.to_upload.title'|trans }}</h3>
                            <ul id="files-to-upload" class="images-list"></ul>


                            <div class="files-list">
                                {{ form_errors(form.images) }}
                                {{ form_widget(form.images ) }}
                            </div>
                        </div>
                        {% else %}
                            {% do form.image.setRendered %}
                            {% do form.images.setRendered %}
                        {% endif %}
                    </div>

                    <br />
                    {% if user.isSIAE  %}
                        <div style="background-color:#ddf2f3;color:#495057;padding:2rem;">
                            <h2>Info déploiement</h2>
                            Suite à l’évolution du profil utilisateur  et de la partie “structures”, toutes les données liées à vos structures sont désormais accessibles depuis l’onglet
                            <a href="{{ path('cocorico_dashboard_directory') }}">"Mes Structures"</a>.
                        </div>
                    {% endif %}
                </div>
                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Files upload#}
    {% include '@CocoricoCore/Frontend/Common/js/_upload_js.html.twig' with {
    'upload_elt': '#user_image_new',
    'upload_images': '#user_image_uploaded',
    'upload_url': oneup_uploader_endpoint('user_images') ~ "?user_id=" ~ app.user.id ,
    'upload_max': user_img_max,
    } only %}

    {% include '@CocoricoUser/Dashboard/Profile/js/_translator_js.html.twig' only %}

{% endblock %}
