{% extends '@CocoricoUser/Dashboard/Profile/layout.html.twig' %}

{% trans_default_domain 'cocorico_user' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'payment' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <!-- form-area -->
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    <fieldset>
        <legend class="hidden">legend</legend>
        <!-- alert -->
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        {{ form_errors(form) }}
        <div class="tab-content">
            <!-- tab payment-info -->
            <div id="payment-info" class="tab-pane active" role="tabpanel">
                <div class="form-holder columns-holder">
                    <h3>{{ 'user.edit.payment.title'|trans }}</h3>
                    <!-- about-info -->
                    <div class="payment-info">
                        <div class="column">
                            <div class="field-row">
                                {{ form_errors(form.lastName) }}
                                <span class="label">{{ form_label(form.lastName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.lastName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.firstName) }}
                                <span class="label">{{ form_label(form.firstName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.firstName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.birthday) }}
                                <span class="label">{{ form_label(form.birthday) }}</span>

                                <div class="field-holder">
                                    <div class="field-day">
                                        {{ form_widget(form.birthday.day, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-month">
                                        {{ form_widget(form.birthday.month, {
                                            'attr': {
                                                'class': "form-control no-arrow",
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-year">
                                        {{ form_widget(form.birthday.year, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.nationality) }}
                                <span class="label">{{ form_label(form.nationality) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.nationality,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.countryOfResidence) }}
                                <span class="label">{{ form_label(form.countryOfResidence) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.countryOfResidence,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.profession) }}
                                <span class="label">{{ form_label(form.profession) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.profession,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field-row price-field">
                                {{ form_errors(form.annualIncome) }}
                                <span class="label">{{ form_label(form.annualIncome) }}</span>

                                {{ form_widget(form.annualIncome,{
                                    'attr': {
                                        'class': "numbers-only form-control"
                                    }
                                } ) }}
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.bankOwnerName) }}
                                <span class="label">{{ form_label(form.bankOwnerName) }}</span>
                                <span class="tooltip-btn">
                                    <button
                                            title="{{ 'form.user.bank_owner_name.help'|trans }}"
                                            data-placement="right" data-toggle="tooltip" class="tooltip-button"
                                            type="button">?
                                    </button>
                                </span>

                                <div class="field-holder">
                                    {{ form_widget(form.bankOwnerName,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.bankOwnerAddress) }}
                                <span class="label">{{ form_label(form.bankOwnerAddress) }}</span>
                                <span class="tooltip-btn">
                                    <button title="{{ 'form.user.bank_owner_address.help'|trans }}"
                                            data-placement="right" data-toggle="tooltip" class="tooltip-button"
                                            type="button">?
                                    </button>
                                </span>

                                <div class="field-holder">
                                    {{ form_widget(form.bankOwnerAddress,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.iban) }}
                                <span class="label">{{ form_label(form.iban) }}</span>
                                <span class="tooltip-btn">
                                    <button title="{{ 'form.user.iban.help'|trans }}"
                                            data-placement="right" data-toggle="tooltip"
                                            class="tooltip-button" type="button">?
                                    </button>
                                </span>

                                <div class="field-holder">
                                    {{ form_widget(form.iban,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.bic) }}
                                <span class="label">{{ form_label(form.bic) }}</span>
                                <span class="tooltip-btn">
                                    <button title="{{ 'form.user.bic.help'|trans }}"
                                            data-placement="right" data-toggle="tooltip"
                                            class="tooltip-button" type="button">?
                                    </button>
                                </span>

                                <div class="field-holder">
                                    {{ form_widget(form.bic,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

        });
    </script>

{% endblock %}
