{% extends '::base.html.twig' %}

{% set user_images = user.images %}
{% set user_description = "" %}
{% if  user.translations[app.request.locale] is defined %}
    {% set user_description = user.translations[app.request.locale].description|strip_private_info %}
{% endif %}
{% set user_address = user.getAddresses %}
{% set user_address = (user_address is empty) ? null : user_address[0] %}
{% set user_company = user.getCompanyName %}
{% set user_company = (user_company is empty) ? null : user_company %}


{%- block meta_title -%}
    {{ 'user.show.meta_title'|trans({}, 'cocorico_meta') ~ " "  ~ user.name ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'user.show.meta_desc'|trans({}, 'cocorico_meta') ~ " " ~ user_description|truncate(200, true) }}
{%- endblock -%}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block breadcrumbs %}
            <!-- breadcrumbs -->
            {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }}
        {% endblock %}

        {% block main %}

            {#
            {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchForm')) }}
            #}
            {# close previous .row #}
            {{ '</div>' }}

            <!-- two-columns -->
            {{ '<div class="twocolumns row">' }}
            <!-- contain the main content of the page -->
            <div id="content" class="listing-area col-xs-12 col-sm-8">
                <!-- profile-detail -->
                <section class="profile-detail">
                    <!-- First Row, company details -->
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- gallery-small -->
                            <div id="user_profile" class="gallery-small slideshow">
                                <div class="slideset">
                                    {% if user_images|length %}
                                        {% for image in user_images %}
                                            <div class="slide">
                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('user_profile') }}"
                                                     alt="{{ user.name }}"/>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="slide">
                                            <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}"
                                                 alt="{{ user.name }}"/>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="#" class="btn-prev">previous</a>
                                <a href="#" class="btn-next">next</a>
                            </div>
                            <address>
                                <h4>
                                    {% if user_company %}
                                        {{ user.companyName }}
                                    {% else %}
                                        {{ user.name }}
                                    {% endif %}
                                </h4>

                                {% if company %}
                                    {{ company.nature == 'siege' ? "Établissement conventionné" : "Établissement conventionné" }}
                                {% endif %}
                            </address>
                        </div>
                        <div class="col-sm-9 shadow">
                            <h3>Informations entreprise</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <dl class="deflist">
                                        <dt>Siret</dt>
                                        <dd>
                                            {% if company %}
                                                {{ company.siret }}
                                            {% else %}
                                                {{ user.siret }}
                                        {% endif %}
                                        </dd>
                                        {% if company %}
                                            <dt>Type de structure</dt>
                                            <dd>{{ company.kind }}</dd>
                                        {% endif %}
                                    </dl>
                                </div>
                                <div class="col-sm-6">
                                    <dl class="deflist">
                                        <dt>Type(s) de prestation</dt>
                                        {% for ptype in listings_data.prestaTypes %}
                                            <dd>{{ ptype | trans({}, 'cocorico_listing') }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Second Row, Company Details -->
                    <div class="row mb-3">
                        <div class="col-sm-6 pull-left shadow">
                            <h4>Secteurs d'activité</h4>
                            <ul class="active_sectors">
                                {% for cat in listings_data.categories %}
                                    <li>{{ cat }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-sm-5  shadow pull-right">
                            <h4>Éléments différenciants<br />
                            (matériels, services particuliers, …)
                            </h4>
                        </div>
                    </div>

                    <!-- Third Row, Description -->
                    <div class="row">
                        <div class="col-sm-12 shadow">
                            <h3>Description de l'activité commerciale</h3>
                            <div class="user_description">
                            {% if user_description %}
                                {{ user_description | nl2br }}
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <!-- Fourth Row, Listings -->
                    <div class="row ">
                        <div class="col-sm-12">
                            <h3>Détail des prestations / Liste des prestations</h3>
                            {% include 'CocoricoCoreBundle:Frontend/Common:_listings_carousel.html.twig'  with {
                            'listings': user_listings
                            } only %}
                        </div>
                    </div>

                    <!-- Fourth Row, References -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Références clients</h3>
                            {% for image in listings_data.clientImages %}
                                <!-- slide -->
                                <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_small') }}"
                                      class="client-ref"/>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- blog -->
                    <div class="blog">
                        {#
                        <div class="head">
                            <strong class="comments-counter">
                                {{ 'user.comments.count.label'|trans }}
                                ({{ user.reviewsTo | length }})
                            </strong>
                            <!-- rating -->
                            {% if user.averageAskerRating == 0 %}
                                {% set rating = user.averageOffererRating %}
                            {% elseif user.averageOffererRating == 0 %}
                                {% set rating = user.averageAskerRating %}
                            {% else %}
                                {% set rating = (user.averageAskerRating + user.averageOffererRating) / 2 %}
                            {% endif %}

                            {% if rating %}
                                {{ rating | cocorico_star_rating }}
                            {% endif %}
                        </div>
                        #}
                        <div class="posts-holder">
                            {% for review in user.reviewsTo %}
                                <!-- post -->
                                {% set reviewBy = review.reviewBy %}
                                {% set image_user = reviewBy.images|length ? reviewBy.images[0].name : UserImageConstants.IMAGE_DEFAULT %}
                                <article class="post">
                                    <header class="head">
                                        <div class="author-img">
                                            <div class="img-holder">
                                                <img alt="{{ reviewBy.name }}"
                                                     src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_user) | imagine_filter('user_xsmall') }}">
                                            </div>
                                            <a href="{{ path('cocorico_user_profile_show', { 'id': reviewBy.id }) }}"
                                               class="author-name">{{ reviewBy.name }}</a>
                                        </div>
                                        <div class="meta">
                                            <time datetime="{{ review.createdAt|date('Y-m-d') }}">
                                                {{ review.createdAt|localizeddate('short', 'none', 'fr') }}
                                            </time>
                                        </div>
                                    </header>
                                    <div class="post-content">
                                        <p>{{ review.comment|strip_private_info|nl2br }}</p>
                                    </div>
                                    <footer class="footer">
                                        {% if review.booking.listing.user == user %}
                                            {% set listing_translation = review.booking.listing.translations[app.request.locale] %}

                                            <a href="{{ path('cocorico_listing_show', {'slug' : listing_translation.slug}) }}"
                                               class="link">
                                                {{ listing_translation.title }}
                                            </a>
                                        {% endif %}
                                        <!-- rating -->
                                        {% if review.rating %}
                                            {{ review.rating | cocorico_star_rating }}
                                        {% endif %}
                                    </footer>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
            <aside id="sidebar" class="profile col-xs-12 col-sm-4">
                <div class="profile_capsule">
                    <h3>Données en libre accès</h3>
                    <dl class='deflist'>
                        <dt>Nombre de salariés</dt>
                        <dd>{{ not company.employees ? "non disponible" : company.employees }}</dd>
                        <dt>CA de la structure</dt>
                        <dd>{{ not company.chiffreAffaire ? "non disponible" : company.chiffreAffaire }}</dd>
                        <dt>Date de création de la structure</dt>
                        <dd>{{ not company.dateConstitution ? "non disponible" : company.dateConstitution }}</dd>
                        <dd>{{ company.dateConstitution }}</dd>
                    </dl>
                    <small>Source: <a href="https://www.infogreffe.fr" rel="nofollow" target="_blank">infogreffe</a></small>
                </div>
                <div class="profile_capsule">
                    <h3>Contact entreprise</h3>
                    <dl class='deflist'>
                        <dt>Site Web</dt>
                        {% if user.website %}
                            <dd><a id="user_website" href="{{user.webiste}}" rel="nofollow" target="blank">{{ user.website }}</a></dd>
                        {% endif %}
                        {% if company %}
                            <dd><a id="company_website" href="{{company.website}}" rel="nofollow" target="blank">{{ company.website }}</a></dd>
                        {% endif %}
                        <dt>Adresse email de contact</dt>
                        <dd>{{ user.email }}</dd>
                        <dt>N de téléphone</dt>
                        <dd>{{ user.phone }}</dd>
                        <dt>Personne à contacter</dt>
                        <dd>{{ user.name }}</dd>
                    </dl>
                </div>
                <div class="map_capsule">
                    <div class="map-holder">
                        <div id="map-company" class="map-canvas"></div>
                    </div>
                    <div class="map_details">
                        <dl class='deflist'>
                        {% if company %}
                            <dt>Adresse</dt>
                            <dd>{{ company.postCode }}
                            {{ company.city }}</dd>
                            <dd>{{ company.region }}</dd>
                            <br />
                        {% elseif user_address %}
                            <dt>Adresse</dt>
                            <dd>{{ user_address.zip }}</dd>
                            <dd>{{ user_address.city }}</dd>
                            <br />
                        {% endif %}
                            <dt>Périmètre d'intervention</dt>
                            <dd>{{ listings_data.polRange }}</dd>
                        </dl>
                    </div>
                </div>
                <hr>
            </aside>
            {#</div>#}
        {% endblock %}

    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {% if company %}
        {% include '@CocoricoGeo/Common/js/_geocoding_js.html.twig' with {
        'map_elt': '#map-company',
        'marker_draggable': false,
        'default_lat': company.latitude,
        'default_lng': company.longitude,
        'default_zoom': '10',
        'display_marker': false
        } only %}
    {% endif %}

    <script>
        $(function () {
            // Categories
            common.application.initMultiSelect(
                '#categories',
                '{{ "multiselect.all_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.none_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.num_selected"|trans({}, "cocorico")|e('js') }}'
            );
        });

        $(function () {
            //Map
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius:  1000
            });
        });

    </script>

{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Profile/_show_markup.jsonld.twig' ignore missing with {
        'user': user,
        'user_listings': user_listings,
        'user_description': user_description,
        'user_address': user_address
    } only %}
{% endblock %}
