{% trans_default_domain 'cocorico_review' %}

<section class="postarea notation-booking">
    <div class="posts-holder">
        {% set user = app.user %}
        <!-- post -->
        {% if reviews %}
            {% for review in reviews %}
                {% set reviewer = review.reviewBy %}
                {% set reviewed_user = review.reviewTo %}
                {% set booking = review.booking %}
                {% set listing = booking.listing %}
                {% set listing_translation = listing.translations[app.request.locale] %}
                {% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}
                {% set image_reviewer = reviewer.images|length ? reviewer.images[0].name : UserImageConstants.IMAGE_DEFAULT %}

                {%- if user.id == booking.user.id -%}{# current user is asker #}
                    {% set booking_url = path('cocorico_dashboard_booking_show_asker', {'id' : booking.id }) %}
                {% else %}{# current user is offerer #}
                    {% set booking_url = path('cocorico_dashboard_booking_show_offerer', {'id' : booking.id }) %}
                {% endif %}

                <article class="post">
                    <div class="img-holder">
                        <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}">
                            <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ listing_image) | imagine_filter('listing_xmedium') }}"
                                 alt="{{ listing_translation.title }}">
                        </a>
                    </div>

                    <div class="area">
                        <header class="head">
                            <div class="area">
                                <h2>
                                    {{ 'review.comment.reservation' | trans }}:
                                    <a href="{{ booking_url }}">{{ booking.id }}</a>

                                    {{ 'review.comment.for_ad' | trans }}
                                    <a href="{{ path('cocorico_listing_show', { 'slug': listing_translation.slug }) }}">
                                        {{ listing_translation.title }}
                                    </a>
                                </h2>
                            </div>

                            <div class="meta">
                                <div class="rating-area alt">
                                    <strong class="title">{{ 'review.comment.note' | trans }}:</strong>
                                    {% if review.rating %}
                                        {{ review.rating |cocorico_star_rating }}
                                    {% endif %}
                                </div>

                                <div class="booking-detail">
                                    <ul class="list-inline">
                                        <li>
                                            {%- if user.id == reviewer.id -%}{# current user is the reviewer #}
                                                {{ 'review.comment.reviewed_user' | trans }}:
                                                <a href="{{ path('cocorico_user_profile_show', { 'id': reviewed_user.id }) }}">
                                                    {{ reviewed_user.firstName  ~ " " ~ reviewed_user.lastName|first|capitalize }}
                                                    .
                                                </a>
                                            {% elseif user.id == reviewed_user.id %}{# current user is the reveiwed user #}
                                                {{ 'review.comment.reviewer' | trans }}:
                                                <a href="{{ path('cocorico_user_profile_show', { 'id': reviewer.id }) }}">
                                                    {{ reviewer.firstName ~ " " ~  reviewer.lastName|first|capitalize }}
                                                    .
                                                </a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            Date:
                                            <time>
                                                {{ review.createdAt|localizeddate('short', 'none', 'fr') }}
                                            </time>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </header>

                        <div class="post-content">
                            <div class="author-img">
                                <img alt="{{ reviewer.firstName }}"
                                     src="{{ (UserImageConstants.IMAGE_FOLDER ~ image_reviewer) | imagine_filter('user_xsmall') }}">
                            </div>
                            <div class="textbox">
                                <p>
                                    <strong>{{ 'review.comment.desc' | trans }}:</strong>
                                    <em>{{ review.comment|strip_private_info }}</em>
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</section>