<a href="#" class="siae-card-container">
    <div class="siae-card">
        <div class="sc-img">
            {# Logo #}
            <img src="" />
        </div>
        <div class="sc-head">
            <h3>
                {% if entry.brand %}
                    {{ entry.brand }}
                {% else %}
                    {{ entry.name }}
                {% endif %}
            </h3>
            {#
            - co-traitance
            - favoris
            #}
        </div>
        <div class="sc-body">
            <div class="sc-profile">
                <ul>
                    <li>{{ entry.prestaTypeText}} </li>
                    <li>{{ entry.getSectorString }}</li>
                </ul>
                {#
                aperçus :
                - type de prestation
                - secteurs d'activité 
                #}
            </div>
            <div class="sc-data">
                <ul>
                    <li><img src="{{ asset('images/siae_list_type.png')}}" style="height:15px">{{ entry.kind }}</li>
                    <li><img src="{{ asset('images/siae_list_town.png')}}" style="height:18px">{{ entry.city }}</li>
                </ul>
                {#
                - type
                - address
                #}
            </div>
        </div>
    </div>
</a>
