<a href="{{ path('cocorico_directory_show', {'id' : structure.id }) }}" class="siae-card-container">
    <div class="siae-card">
        <div class="sc-img mr-5">
            {# Logo #}
            {% if structure.images|length %}
                    {% set image = structure.images[0] %}
                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_xsmall') }}"
                         alt="{{ structure.name }}"/>
            {% else %}
                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ ListingImageConstants.IMAGE_DEFAULT) | imagine_filter('listing_large') }}"
                         alt="{{ structure.name }}"/>
            {% endif %}
        </div>
        <div class="sc-main">
            <div class="sc-head">
                <h3>
                    {% if structure.brand %}
                        {{ structure.brand }}
                    {% else %}
                        {{ structure.name }}
                    {% endif %}
                </h3>
                {#
                - co-traitance
                - favoris
                #}
            </div>
            <div class="sc-body">
                <div class="sc-profile">
                    <ul>
                        {% if structure.kind is not null and structure.kind is not empty %}
                        <li class="sc-profile-kind">
                            {% if structure.kind == 'ETTI' %}
                                intérim
                            {% elseif structure.kind == 'AI' %}
                                Mise à disposition du personnel
                            {% else %}
                                {{ structure.prestaTypeText('<br />') | raw}}
                            {% endif %}
                        </li>
                        {% endif %}
                        <li class="sc-profile-type">{{ structure.kind }}</li>
                        <li class="sc-profile-sectors">
                        {% if structure.hasDirectoryListingCategory %}
                           {{ structure.getSectorString(2, '<br />') | raw }}
                        {% endif %}
                        </li>
                        <li class="sc-profile-town">{{ structure.region }}</li>
                    </ul>
                    {#
                    - type
                    - address
                    #}
                </div>
            </div>
        </div>
    </div>
</a>
