{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'home.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block theme %}home-page{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_directory' %}

        {% block breadcrumbs %}
            <!-- breadcrumbs -->

            {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }}
        {% endblock %}

        {% block main %}
            <div id="dir_form" class="dir_form">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row first-row">
                            <div class="col-sm-6 pr-sm-0 mt-4">
                                <div class="title">
                                    Secteur d'activité
                                </div>
                                <div class="field-holder">
                                    <div class="multiselect itou-multiselect listing-category">
                                    {{form_widget(form.sector, {
                                        'id': 'sector',
                                        'attr': {
                                            'class': 'form-control jcf-ignore',
                                            'name': 'sector',
                                            'placeholder': 'xxx'
                                        }}
                                    )}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-0 mt-4">
                                <div class="title">
                                    Lieu d'intervention
                                </div>
                                <div class="field-holder">
                                {{form_widget(form.address, {
                                    'id': 'address',
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Région, département, code postal'
                                    }}
                                )}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 mt-4">
                                <div class="title">
                                    Type de structure
                                </div>
                                <div class="field-holder">
                                {#
                                {{form_widget(form.structureType, {
                                    'id': 'structure_type',
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'AI, ACI, ETTI'
                                    }}
                                )}}
                                #}
                                    <div class="multiselect itou-multiselect structure-type">
                                    {{form_widget(form.structureType, {
                                        'id': 'structureType',
                                        'attr': {
                                            'class': 'form-control jcf-ignore',
                                            'name': 'structureType',
                                            'placeholder': 'xxx'
                                        }}
                                    )}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 mt-4">
                                <div class="title">
                                    Type de prestation
                                </div>
                                <div class="field-holder">
                                {{form_widget(form.prestaType, {
                                    'id': 'sector',
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Prestation, mise à disposition du personnel'
                                    }}
                                )}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {#
                            <div class="col-sm-4 mt-4">
                                <div class="label-container">
                                    <div class="field-holder">
                                    {{form_widget(form.withAntenna, {
                                        'id': 'withAntenna',
                                        'attr': {
                                            'class': 'form-control',
                                        }}
                                    )}}
                                    </div>
                                    <div class="title">
                                        {{ form_label(form.withAntenna, 'Inclure les antennes')}}
                                    </div>
                                </div>
                            </div>
                            {% if request.searchType == 'city' %}
                            <div class="col-sm-4">
                                <div class="label-container">
                                    <div class="field-holder">
                                    {{form_widget(form.withRange, {
                                        'id': 'withRange',
                                        'data': false,
                                        'attr': {
                                            'class': 'form-control',
                                        }}
                                    )}}
                                    </div>
                                    <div class="title">
                                        {{ form_label(form.withRange, 'Ajouter résultats à proximité')}}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                {% do form.withRange.setRendered() %}
                            {% endif %}
                            #}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <button class="btn btn-block btn-default" id="filter-submit" type="submit">
                            Rechercher
                            <i class="icon-search"></i>
                        </button>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                          <a class="btn btn-block btn-outline-primary reset" href="/fr/repertoire/siae">
                            Réinitialiser
                            <i class="icon-cw"></i>
                        </a>
                    </div>                    
                </div>
                {% do form.format.setRendered() %}
                {{ form_end(form) }}
            </div>
            <div id="dir_list">
                <div class="meta">{{ entries.count }} structures{% if withAntenna %} et leurs antennes{% endif %} correspondent à vos critères
                </div>
                <div class="row dir_list-row">
                    <div class="col-sm-8">
                    {%- if not entries is empty -%}
                        {% for entry in entries.iterator %}
                            {% include '@CocoricoCore/Frontend/Directory/_card.html.twig' with {
                            'structure' : entry[0]
                            } %}
                        {% endfor %}
                        {#
                        <table>
                            <tr>
                                <th>Nom</th>
                                <th>Siret</th>
                                <th>Établissement</th>
                                <th>Type</th>
                                <th>Type de prestation</th>
                                <th>Secteur(s)</th>
                                <th>Ville</th>
                                <th>Région</th>
                            </tr>
                            {% for entry in entries.iterator %}
                                <tr>
                                    <td>
                                    {% if entry.website %} <a href="{{ entry.website }}" target="_blank" rel="external"> {% endif %}
                                        {% if entry.brand %}
                                            {{ entry.brand }}
                                        {% else %}
                                            {{ entry.name }}
                                        {% endif %}
                                    {% if entry.website %} </a> {% endif %}
                                    </td>
                                    <td>{{ entry.validSiret }}</td>
                                    <td>{{ entry.getNatureText() }}</td>
                                    <td>{{ entry.kind }}</td>
                                    <td>{{ entry.prestaTypeText}} </td>
                                    <td>{{ entry.getSectorString()}} </td>
                                    <td>{{ entry.postCode }} {{ entry.city }}</td>
                                    <td>{{ entry.region }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        #}
                        {% include '@CocoricoCore/Frontend/Common/_pagination.html.twig' with { 'pagination': pagination,  'alignment': 'text-center' } only %}
        
                    {%- else -%}
                        <div class="col-xs-12 form-confirm min-height justify-content-center" style="margin:-21px 0 30rem;">
                            <div class="container col-sm-8 no-results">
                                <div style="text-align:center">
                                    <img src="{{ asset('images/home_help_icon_white.png') }}" style="height:64px;margin-bottom:1rem;" alt="icon description" class="icon">
                                </div>
                                <div class="row ">
                                    <div class="" style="">
                                        <p>Malheureusement, nous n'avons pas encore de prestataires correspondant à votre recherche sur La place de marché de l'inclusion.</p>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="" style="">
                                        <b>Faites nous part de votre besoin et nous vous recontacterons rapidement</b>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:4rem">
                                    <div class="buttonrow" style="display:flex">
                                        <a class="btn btn-default" href="https://itou.typeform.com/to/nxG0HlYx">Déposez votre demande</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                    </div>
                    <div class="col-sm-4 siae-info mt-6 mt-sm-0">
                        <div class="siae-info-sticky">
                            <!-- maparea -->
                            <div class="maparea">
                                <div class="maparea">
                                    {#
                                    <div class="checkbox search-on-drag-cb-wrapper">
                                        <input type="checkbox" name="search-on-drag" id="search-on-drag">
                                        <label class="form-label" for="search-on-drag">
                                            {{ 'search-on-map-drag'|trans }}
                                        </label>
                                    </div>
                                    #}
                                    <div class="map-holder">
                                        <div id="map-canvas"></div>
                                        {% include '@CocoricoCore/Frontend/Directory/_marker.html.twig'  with {
                                        'markers': markers,
                                        } only %}
                                    </div>
                                </div>
                            </div>
                            <div class="si-separator"></div>
                            <div class="si-ideas">
                                <h3>Idées reçues</h3>
                                <p><img src="{{ asset('images/check.svg')}}" style="height:22px" /> 
                                    <span>La structure est trop petite pour répondre à mon besoin...
                                    <b>Mais elle est sûrement ouverte à la co-traitance.</b>
                                    </span>
                                </p>

                                <p><img src="{{ asset('images/check.svg')}}" style="height:22px" />
                                    <span>Son chiffre d’affaire est trop bas et je ne veux pas être
                                    son seul client... <b>Mais Vous pouvez commencer par lui confier
                                    un marché de plus faible périmètre, sans prendre de risque,
                                    puis faire grandir ce partenariat si vous en êtes satisfait.</b>
                                    </span>
                                </p>

                                <p><img src="{{ asset('images/check.svg')}}" style="height:22px" />
                                    <span>L'offre ne correspond pas exactement à ce que je cherche...
                                    <b>Heureusement les entreprises sociales inclusives sont très
                                    innovantes et s'adaptent à vos besoins.</b>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_start(dlform) }}
                <div id="csv_form" class="row dir_form">
                    {{ form_widget(dlform.sector, {'attr': {'style': 'display:none', 'class': 'jcf-ignore'}}) }}
                    {#
                    {{ form_widget(dlform.withAntenna, {'attr': {'style': 'display:none'}}) }}
                    {{ form_widget(dlform.withRange, {'attr': {'style': 'display:none'}}) }}
                    #}
                    {{ form_widget(dlform.prestaType, {'attr': {'style': 'display:none'}}) }}
                    {{ form_widget(dlform.structureType, {'attr': {'style': 'display:none', 'class': 'jcf-ignore'}}) }}
                    {% do dlform.structureType.setRendered() %}
                    {% do dlform.address.setRendered() %}
                        <div class="col-sm-3 col-sm-offset-1 mt-4">
                            <div class="title">
                                Format
                            </div>
                            <div class="field-holder">
                                {{form_widget(dlform.format,{
                                    'id': 'format'
                                })}}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button id="csv-submit" type="submit" class="btn btn-block btn-default">
                                Télécharger la liste
                                <i class="icon-down"></i>
                            </button>
                        </div>
                </div>
                {{ form_end(dlform) }}
            </div>
        {% endblock %}

        {% block modal %}
            {# {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %} #}
            <div class="modal fade modal-siae" id="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                 data-keyboard="false" style="z-index:3000">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body home-content-body">
                            <strong class="title">
                            Plus de {{ entries.count }} prestataires inclusifs répondent à votre recherche.
                            </strong>
                            <p class="mt-2">Pour accéder aux résultats, dites-nous si vous êtes :
                            <ul>
                                <li><a href="#" data-usr="buyer">Je suis une entreprise ou une institution qui souhaite augmenter ses achats inclusifs</a></li>
                                <li><a href="#" data-usr="siae">Je suis une structure d’insertion ou du handicap</a></li>
                                <li><a href="#" data-usr="actor">Je suis un acteur de l’inclusion (facilitateurs, réseaux...)</a></li>
                            </ul>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/Directory/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-canvas',
    'auto_complete_elt': '#address',
    'default_lat': '',
    'default_lng': '',
    'display_marker': false,
    } only %}

    {#
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-canvas',
    'auto_complete_elt': '#location',
    'default_lat': '',
    'default_lng': '',
    'extend_search': ''
    } only %}
    #}

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            console.log('DomLoaded');
            $(document).on('shown.bs.modal', '.modal', function () {
                $('.modal-backdrop').before($(this));
            });

            //Set listings markers on load
            {%- if not entries is empty -%}
                //Set listings markers on load through data-markers attribute
                let myGreeting = setTimeout(function() {
                    setMarkersFunc($("span#data-markers").data("markers"));
                    refreshMapFunc(false, '{{ request.lat }}', '{{ request.lng }}');
                }, 1000)
            {% endif %}

            // For testing: 
            // if (true) {
            if (!document.cookie.split('; ').find(row => row.startsWith('leMarcheTypeUsager'))) {
                console.log('Showing Modal');
                var modal = $("#modal");
                modal.find('.close').remove();
                modal.modal('show');

                modal.on('click', (e) => {
                    // Only set cookie if button clicked
                    document.cookie = "leMarcheTypeUsager=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; Secure";
                    let type = $(e.target).data('usr');

                    if (typeof track === "function") {
                        track('', Steps.USER_TYPE, {'type': type});
                    }

                    console.log('Hiding Modal');
                    modal.modal('hide');
                })
            }
        });
    </script>
 
{% endblock %}


