{% extends '::base.html.twig' %}

{#
<h1>Page Structure</h1>
<h2>{{ structure.name }}</h2>
<h2>{{ structure.brand }}</h2>
<p>{{ structure.siret }}</p>
<pre>En Construction</pre>
#}
{% set user = structure.getFirstUser() %}
{% if user %}
    {% set user_images = user.images %}
{%endif %}

{% set structure_images = structure.images %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_directory' %}

        {% block breadcrumbs %}
            <!-- breadcrumbs -->

            {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }}
        {% endblock %}

        {% block main %}
            {#
            {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchForm')) }}
            #}
            {# close previous .row #}
            {{ '</div>' }}

            <!-- two-columns -->
            {{ '<div id="dir-profile" class="dir-profile-row row">' }}
                <!-- contain the main content of the page -->
                <div id="content" class="listing-area col-xs-12 col-sm-8">
                    <!-- profile-detail -->
                    <section class="profile-detail">
                        <!-- First Row, company details -->
                        <div class="row">
                            <div class="col-sm-12 mb-5 mb-md-8" id="user_profile">
                                <!-- gallery-small -->
                                <div class="gallery-small slideshow col-sm-3">
                                    <div class="slideset">
                                            {% if structure_images|length %}
                                                {% for image in structure_images %}
                                                    <div class="slide">
                                                        <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('user_profile') }}"
                                                            alt="{{ structure.name }}"/>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="slide">
                                                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ ListingImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}"
                                                        alt="{{ structure.name }}"/>
                                                </div>
                                            {% endif %}
                                    </div>
                                    <a href="#" class="btn-prev">previous</a>
                                    <a href="#" class="btn-next">next</a>
                                </div>
                                <div class="col-sm-9 pl-md-5">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h3>
                                                {% if structure.brand %}
                                                    {{ structure.brand }}
                                                {% else %}
                                                    {{ structure.name }}
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="cell col-sm-6">
                                            <span class="prof_icon"><img src="{{ asset('svg/prof_siret.svg')}}" /></span>
                                            <span>Siret : {{ structure.getNiceSiret }}</span>
                                        </div>
                                        <div class="cell col-sm-6">
                                            <span class="prof_icon"><img src="{{ asset('svg/prof_types.svg')}}" /></span>
                                            <span>{{ structure.prestaTypeText(', ') }}</span>
                                        </div>
                                        <div class="clearfix visible-md-block"></div>
                                        <div class="cell col-sm-6">
                                            <span class="prof_icon"><img src="{{ asset('svg/prof_workers.svg')}}" /></span>
                                            <span>Salariés<sup>*</sup> : {{ not structure.employees ? "non disponible" : structure.employees }}</span>
                                        </div>
                                        <div class="cell col-sm-6">
                                            <span class="prof_icon"><img src="{{ asset('svg/prof_nature.svg')}}" /></span>
                                            <span>{{ structure.kind }}</span>
                                        </div>
                                        <div class="clearfix visible-md-block"></div>
                                        <div class="cell col-sm-6">
                                            <span class="prof_icon"><img src="{{ asset('svg/prof_calendar.svg')}}" /></span>
                                            <span>Date de création<sup>*</sup> : non disponible</span>
                                        </div>
                                    </div>
                                </div>
                                {#
                                <address>
                                    {{ structure.nature == 'siege' ? "Conventionné avec la Direccte" : "Rattaché à un autre conventionnement" }}
                                </address>
                                #}
                            </div>
                        </div>
                        <!-- Second Row, Company Details -->
                        <div class="row mb-3">
                            <div class="col-sm-6 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('svg/prof_sectors.svg')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Secteurs d'activité</h3>
                                    <ul class="active_sectors">
                                        {% if structure.kind == 'ETTI' and structure.directoryListingCategories|length > 3 %}
                                            <li>Multisectoriel</li>
                                        {% else %}
                                            <li>{{ structure.getSectorString(6, '</li><li>')|raw}}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('svg/prof_elements.svg')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Éléments différenciants (materiels, services particuliers...)</h3>
                                    <p>Non renseigné</p>
                                </div>
                            </div>
                            {#
                            <div class="col-sm-5  shadow pull-right">
                                <h4>Éléments différenciants<br />
                                (matériels, services particuliers, …)
                                </h4>
                            </div>
                            #}
                        </div>
                        <!-- Third Row, Description -->
                        <div class="row">
                            <div class="col-sm-12 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('images/prof_discuss.png')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Description de l'activité commerciale</h3>
                                    <div>
                                        {% if structure.description %}
                                            {{ structure.description | nl2br }}
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fourth Row -->
                        {% if listings %}
                        <div class="row ">
                            <div class="col-sm-12 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('svg/prof_discuss.svg')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Les prestations proposées</h3>
                                    {% include 'CocoricoCoreBundle:Frontend/Common:_listings_structure_list.html.twig'  with {
                                    'listings': listings
                                    } only %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Fifth Row -->
                        {% if structure.clientImages is not empty %}
                        <div class="row">
                            <div class="col-sm-6 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('svg/prof_images.svg')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Références clients</h3>
                                    {% for image in structure.clientImages %}
                                        <!-- slide -->
                                        <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_small') }}" class="client-ref"/>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-6 img-left mb-5 mb-md-7">
                                <div class="il-l">
                                    <img class="cell_icon" src="{{ asset('svg/prof_images.svg')}}" />
                                </div>
                                <div class="il-r">
                                    <h3>Labels & certifications</h3>
                                    <p>Non renseigné</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </section>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <aside id="sidebar" class="profile">
                        <div class="row mb-3 mb-md-6">
                            <div class="col-xs-5 col-sm-12 col-md-5 mb-3">
                                <button class="btn btn-sm btn-link btn-block pl-0">Enregistrer<i class="ml-2 icon-star-empty"></i></button>
                            </div>
                            <div class="col-xs-7 col-sm-12 col-md-7 mb-3">
                                <a id="contact" href="https://itou.typeform.com/to/nxG0HlYx" class="btn btn-sm btn-primary btn-block">Être recontacté<i class="ml-2 icon-mail-alt"></i></a>
                            </div>
                        </div>
                        <div class="profile_capsule">
                            <a href="#" id="show_data">
                                <span class="prof_icon"><img src="{{ asset('svg/profile-ico-chevron.svg')}}" /></span>
                                <span>Afficher les coordonnées</span>
                            </a>
                            <div id="the_data" style="display:none">
                                <ul class='deflist'>
                                    {% if structure.website %}
                                        <li>
                                            <span class="prof_icon"><img src="{{ asset('svg/profile-ico-web.svg')}}" /></span>
                                            <a id="company_website" href="{{structure.website}}" rel="nofollow" target="_blank">{{ structure.website }}</a>
                                        </li>
                                    {% endif %}                                
                                    {% if user %}
                                        <li>
                                            <span class="prof_icon"><img src="{{ asset('svg/profile-ico-@.svg')}}" /></span>
                                            <span>{{ user.email }}</span>
                                        </li>
                                        {% if user.phone %}
                                            <li>
                                                <span class="prof_icon"><img src="{{ asset('svg/profile-ico-phone.svg')}}" /></span>
                                                <span>{{ user.phone }}</span>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <span class="prof_icon"><img src="{{ asset('svg/profile-ico-user.svg')}}" /></span>
                                            <span>{{ user.namebis }}</span>
                                        </li>
                                        <li>
                                            <span class="prof_icon"><img src="{{ asset('svg/profile-ico-pin.svg')}}" /></span>
                                            <span>{{ structure.postCode }} {{ structure.city }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="separator mb-3 mb-md-6"></div>
                            <div class="map-holder mb-3 mb-md-7">
                                <div id="map-company" class="map-canvas"></div>
                            </div>
                            <div class="map_details">
                                <div class="d-flex mb-3">
                                    <span class="prof_icon"><img src="{{ asset('svg/profile-ico-geo.svg')}}" /></span>
                                    <span>{{ structure.city }}</span>
                                </div>
                                <div class="d-flex mb-3">
                                    <span class="prof_icon"><img src="{{ asset('svg/profile-ico-pin.svg')}}" /></span>
                                    <span>Département {{ structure.department }}</span>
                                </div>
                                {#
                                <dl class='deflist'>
                                    <dd>{{ structure.region }}</dd>
                                    {% if structure.polRange %}
                                        <dt>Périmètre d'intervention</dt>
                                        <dd>{{ structure.polRangeText | trans}}</dt>
                                    {% elseif structure.range %}
                                        <dt>Périmètre d'intervention</dt>
                                        <dd>{{ structure.range}} Km</dt>
                                    {% endif %}
                                </dl>
                                #}
                            </div>
                        </div>
                        {#
                        <div class="profile_capsule">
                        </div>
                        <div class="map_capsule">
                        </div>
                        #}
                    </aside>            
                </div>
            {{ '</div>' }}

            <div class="row">
                <div class="col-sm-12 mt-5 mb-6">
                    <small><sup>*</sup>source: <a href="https://entreprise.api.gouv.fr/" rel="nofollow" target="_blank">informations en provenance de https://entreprise.api.gouv.fr</a></small>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {% include '@CocoricoGeo/Common/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-company',
    'marker_draggable': false,
    'default_lat': structure.latitude,
    'default_lng': structure.longitude,
    'default_zoom': '10',
    'display_marker': false
    } only %}

    <script>
        $(function () {
            // Categories
            common.application.initMultiSelect(
                '#categories',
                '{{ "multiselect.all_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.none_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.num_selected"|trans({}, "cocorico")|e('js') }}'
            );
        });

        $(function () {
            //Map
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius:  1000
            });

            $('#show_data').click((e) => {
                e.preventDefault();
                var $this = $(e.currentTarget);
                $this.toggleClass('is-open');
                $('#the_data').toggle('slow');
                return false;
            });
        });

    </script>

{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {#
    {% include 'CocoricoSeoBundle:Frontend:Profile/_show_markup.jsonld.twig' ignore missing with {
        'user': user,
        'user_listings': user_listings,
        'user_description': user_description,
        'user_address': user_address
    } only %}
    #}
{% endblock %}

