{% extends '::base.html.twig' %}

{#
<h1>Page Structure</h1>
<h2>{{ structure.name }}</h2>
<h2>{{ structure.brand }}</h2>
<p>{{ structure.siret }}</p>
<pre>En Construction</pre>
#}
{% set user = structure.getFirstUser() %}
{% if user %}
    {% set user_images = user.images %}
{%endif %}

{% set structure_images = structure.images %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_directory' %}

        {% block breadcrumbs %}
            <!-- breadcrumbs -->

            {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }}
        {% endblock %}

        {% block main %}

            {#
            {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchForm')) }}
            #}
            {# close previous .row #}
            {{ '</div>' }}

            <!-- two-columns -->
            {{ '<div id="dir-profile" class="twocolumns row">' }}
            <!-- contain the main content of the page -->
            <div id="content" class="listing-area col-xs-12 col-sm-8">
                <!-- profile-detail -->
                <section class="profile-detail">
                    <!-- First Row, company details -->
                    <div class="row">
                        <div class="col-sm-12"  id="user_profile">
                            <!-- gallery-small -->
                            <div id="user_profile" class="gallery-small slideshow col-sm-3">
                                <div class="slideset">
                                        {% if structure_images|length %}
                                            {% for image in structure_images %}
                                                <div class="slide">
                                                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('user_profile') }}"
                                                         alt="{{ structure.name }}"/>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="slide">
                                                <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ ListingImageConstants.IMAGE_DEFAULT) | imagine_filter('user_profile') }}"
                                                     alt="{{ structure.name }}"/>
                                            </div>
                                        {% endif %}
                                </div>
                                <a href="#" class="btn-prev">previous</a>
                                <a href="#" class="btn-next">next</a>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>
                                                {% if structure.brand %}
                                                    {{ structure.brand }}
                                                {% else %}
                                                    {{ structure.name }}
                                                {% endif %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="cell col-sm-6"><img class="prof_icon" src="{{ asset('svg/prof_siret.svg')}}" />Siret : {{ structure.getNiceSiret }}</div>
                                    <div class="cell col-sm-6"><img class="prof_icon" src="{{ asset('svg/prof_types.svg')}}" />{{ structure.prestaTypeText(', ') }}</div>
                                    <div class="cell col-sm-6"><img class="prof_icon" src="{{ asset('svg/prof_workers.svg')}}" />Salariés : {{ not structure.employees ? "non disponible" : structure.employees }}</div>
                                    <div class="cell col-sm-6"><img class="prof_icon" src="{{ asset('svg/prof_nature.svg')}}" />{{ structure.kind }}</div>
                                    <div class="cell col-sm-6"><img class="prof_icon" src="{{ asset('svg/prof_calendar.svg')}}" />Date de création : non disponible</div>
                                </div>
                            </div>
                            {#
                            <address>
                                {{ structure.nature == 'siege' ? "Conventionné avec la Direccte" : "Rattaché à un autre conventionnement" }}
                            </address>
                            #}
                        </div>
                    </div>

                    <!-- Second Row, Company Details -->
                    <div class="row mb-3">
                        <div class="col-sm-6 img-left">
                            <span class="il-l">
                                <img class="cell_icon" src="{{ asset('svg/prof_sectors.svg')}}" />
                            </span>
                            <span>
                                <h3>Secteurs d'activité</h3>
                                <ul class="active_sectors">
                                    {% if structure.kind == 'ETTI' and structure.directoryListingCategories|length > 3 %}
                                        <li>Multisectoriel</li>
                                    {% else %}
                                        <li>{{ structure.getSectorString(6, '</li><li>')|raw}}</li>
                                    {% endif %}
                                </ul>
                            </span>
                        </div>
                        <div class="col-sm-6 img-left">
                            <span class="il-l">
                                <img class="cell_icon" src="{{ asset('svg/prof_elements.svg')}}" />
                            </span>
                            <span>
                                <h3>Éléments différenciants (materiels, services particuliers...)</h3>
                                Non renseigné
                            </span>
                        </div>
                        {#

                        <div class="col-sm-5  shadow pull-right">
                            <h4>Éléments différenciants<br />
                            (matériels, services particuliers, …)
                            </h4>
                        </div>
                        #}
                    </div>

                    <!-- Third Row, Description -->
                        <div class="row">
                            <div class="col-sm-12 img-left">
                                <span class="il-l">
                                    <img class="cell_icon" src="{{ asset('images/prof_discuss.png')}}" />
                                </span>
                                <span class="il-r">
                                    <h3>Description de l'activité commerciale</h3>
                                    <div class="user_description">
                                        {% if structure.description %}
                                            {{ structure.description | nl2br }}
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </div>
                                </span>
                            </div>
                        </div>

                    <!-- Fourth Row -->
                    {% if listings %}
                    <div class="row ">
                        <div class="col-sm-12 img-left">
                            <span class="il-l">
                                <img class="cell_icon" src="{{ asset('svg/prof_discuss.svg')}}" />
                            </span>
                            <span>
                                <h3>Les prestations proposées</h3>
                                {% include 'CocoricoCoreBundle:Frontend/Common:_listings_structure_list.html.twig'  with {
                                'listings': listings
                                } only %}
                            </span>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Fifth Row -->
                    {% if structure.clientImages is not empty %}
                    <div class="row">
                        <div class="col-sm-6 img-left">
                            <span class="il-l">
                                <img class="cell_icon" src="{{ asset('svg/prof_images.svg')}}" />
                            </span>
                            <span>
                                <h3>Références clients</h3>
                                {% for image in structure.clientImages %}
                                    <!-- slide -->
                                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_small') }}"
                                          class="client-ref"/>
                                {% endfor %}
                            </span>
                        </div>
                        <div class="col-sm-6 img-left">
                            <span class="il-l">
                                <img class="cell_icon" src="{{ asset('svg/prof_images.svg')}}" />
                            </span>
                            <span>
                                <h3>Labels & certifications</h3>
                                Non renseigné
                            </span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12" style="margin-top:1rem">
                            <small>* source: <a href="https://entreprise.api.gouv.fr/" rel="nofollow" target="_blank">informations en provenance de https://entreprise.api.gouv.fr</a></small>
                        </div>
                    </div>


                </section>
            </div>
            <aside id="sidebar" class="profile col-xs-12 col-sm-4">
                <div class="profile_capsule">
                    <div class="" style="display:flex;flex-direction:row;justify-content:flex-end;">
                        <div class=""></div>
                        <a id="contact" href="https://itou.typeform.com/to/nxG0HlYx" class="button">Être recontacté<i class="icon-mail-alt"></i></a>
                    </div>
                    <a href="#" id="show_data">> Afficher les coordonnées</a>
                    <div id="the_data" style="display:none">
                        <dl class='deflist'>
                            <dt>Site Web</dt>
                            <dd><a id="company_website"
                                href="{{structure.website}}" rel="nofollow" target="blank">{{ structure.website }}</a></dd>
                            {% if user %}
                                <dt>Adresse email de contact</dt>
                                <dd>{{ user.email }}</dd>
                                {% if user.phone %}
                                    <dt>N de téléphone</dt>
                                    <dd>{{ user.phone }}</dd>
                                {% endif %}
                                <dt>Personne à contacter</dt>
                                <dd>{{ user.namebis }}</dd>
                                <dt>Adresse</dt>
                                <dd>{{ structure.postCode }}
                                {{ structure.city }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="separator"></div>
                    <div class="map-holder">
                        <div id="map-company" class="map-canvas"></div>
                    </div>
                    <div class="map_details">
                        <div class=""><img class="prof_icon" src="{{ asset('svg/geo_pos.svg')}}" />{{ structure.city }}</div>
                        <div class=""><img class="prof_icon" src="{{ asset('svg/geo_pin.svg')}}" /> Département {{ structure.department }}</div>
                        {#
                        <dl class='deflist'>
                            <dd>{{ structure.region }}</dd>
                            {% if structure.polRange %}
                                <dt>Périmètre d'intervention</dt>
                                <dd>{{ structure.polRangeText | trans}}</dt>
                            {% elseif structure.range %}
                                <dt>Périmètre d'intervention</dt>
                                <dd>{{ structure.range}} Km</dt>
                            {% endif %}
                        </dl>
                        #}
                    </div>
                </div>
                {#
                <div class="profile_capsule">
                </div>
                <div class="map_capsule">
                </div>
                #}
            </aside>
            {#</div>#}
        {% endblock %}

    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {% include '@CocoricoGeo/Common/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-company',
    'marker_draggable': false,
    'default_lat': structure.latitude,
    'default_lng': structure.longitude,
    'default_zoom': '10',
    'display_marker': false
    } only %}

    <script>
        $(function () {
            // Categories
            common.application.initMultiSelect(
                '#categories',
                '{{ "multiselect.all_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.none_selected"|trans({}, "cocorico")|e('js') }}',
                '{{ "multiselect.num_selected"|trans({}, "cocorico")|e('js') }}'
            );
        });

        $(function () {
            //Map
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius:  1000
            });

            $('#show_data').click((e) => {
                e.preventDefault();
                $('#the_data').toggle('slow');
                return false;
            });
        });

    </script>

{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {#
    {% include 'CocoricoSeoBundle:Frontend:Profile/_show_markup.jsonld.twig' ignore missing with {
        'user': user,
        'user_listings': user_listings,
        'user_description': user_description,
        'user_address': user_address
    } only %}
    #}
{% endblock %}

