{% extends 'CocoricoCoreBundle:Form:fields.html.twig' %}

{% trans_default_domain 'cocorico' %}
{#
There is some magic going on, some automated matching between form entity types
and available widgets.
#}

{#
################# Old widget for Listings
#}
{% block _listing_categories_listingListingCategories_widget_new -%}
    <h1>(listing) Poulet 6! </h1>
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    {% set options = choices -%}
    <div class="c4_multiselect">
        {{- block('listing_category_widget_options') -}}
    </div>
    {{- block('listing_category_widget_js') -}}
{%- endblock %}

{% block listing_category_widget_options -%}
    <h1>(listing) Poulet 7! </h1>
    <ul>
    {% set cl_l1 = '' %}
    {% set cl_l2 = '' %}
    {% set cl_id = '' %}
    {% for group_label, choice in options %}
        {% autoescape false %}
        {% set category = choice.data %}
        {%- if not category.isLeaf -%}
            {% if category.getLvl == 0 %}
                {% set cl_l1 = 'l' ~ category.getId() %}
            {% endif %}
            {% if category.getLvl == 1 %}
                {% set cl_l2 = 'l' ~ category.getId() %}
            {% endif %}
            {% set cl_id = 'l' ~ category.getId() %}
            <li class='multisel' id="{{ cl_id }}" data-selected="0">
                <h{{category.getLvl + 1}}>{{ category.getName() }}</h{{category.getLvl + 1}}>
            </li>
        {%- else -%}
            <li class="{{cl_l1}} {{cl_l2}}">
                <label>
                    <input name="listing_categories[listingListingCategories][]" type="checkbox"
                        class="jcf-ignore" value="{{ choice.value}}"{% if choice is
                    selectedchoice(value) %} checked="true"{% endif %}
                    style="visibility:visible;opacity:1;" />
                    {{choice.label}}
                </label>
            </li>
        {%- endif -%}
        </li>
        {% endautoescape %}
    {% endfor %}
    </ul>

{%- endblock %}

{#
################# Old widget for Structures
#}

{% block _directory_categories_directoryListingCategories_widget -%}
    {#
        This widget (and sub-widgets) are used
        to display category selection in the directory
        adoption form and directory management
        dashboard
    #}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    {% set options = choices -%}
    <div class="c4_multiselect">
        {{- block('directory_category_widget_options') -}}
    </div>
    {{- block('listing_category_widget_js') -}}
{%- endblock %}

{% block directory_category_widget_options -%}
    <ul>
    {% set cl_l1 = '' %}
    {% set cl_l2 = '' %}
    {% set cl_id = '' %}
    {% for group_label, choice in options %}
        {% autoescape false %}
        {% set category = choice.data %}
        {%- if not category.isLeaf -%}
            {% if category.getLvl == 0 %}
                {% set cl_l1 = 'l' ~ category.getId() %}
            {% endif %}
            {% if category.getLvl == 1 %}
                {% set cl_l2 = 'l' ~ category.getId() %}
            {% endif %}
            {% set cl_id = 'l' ~ category.getId() %}
            <li class='multisel' id="{{ cl_id }}" data-selected="0">
                <h{{category.getLvl + 1}}>{{ category.getName() }}</h{{category.getLvl + 1}}>
            </li>
        {%- else -%}
            <li class="{{cl_l1}} {{cl_l2}}">
                <label>
                    <input name="directory_categories[directoryListingCategories][]" type="checkbox"
                        class="jcf-ignore" value="{{ choice.value}}"{% if choice is
                    selectedchoice(value) %} checked="true"{% endif %}
                    style="visibility:visible;opacity:1;" />
                    {{choice.label}}
                </label>
            </li>
        {%- endif -%}
        </li>
        {% endautoescape %}
    {% endfor %}
    </ul>

{%- endblock %}




{%- block listing_category_widget_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            $('.multisel').on('click', (e) => {
                const cl = '.' + $(e.currentTarget).attr('id');
                const value = $(e.currentTarget).attr('data-selected') == "0" ?
                    true : false;
                $(e.currentTarget).attr('data-selected', value ? "1" : "0" );
                $(cl).find(':checkbox').map((i, el) => {
                    el.checked = value;
                });
            });
        });
    </script>
{%- endblock  %}
{# Categories tree  widget #}

{#
    Obsolete stuff, de
#}
{% block _listing_categories_listingListingCategories_widget_old -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %}
        multiple="multiple"{% endif %}>
        {% if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('listing_category_widget_options_tree') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('listing_category_widget_options_tree') -}}
    </select>
    {{- block('listing_category_widget_multiselect_js') -}}
{%- endblock %}

{% block listing_category_widget_options_tree -%}
    {% for group_label, choice in options %}
        {% set category = choice.data %}
        {% set indent = '&#160;&#160;&#160;'|repeat(category.getLvl) %}
        {% autoescape false %}
        {%- if not category.isLeaf -%}
            <optgroup label="{{ indent  ~ category.getName() }}">
                {% set options = choice %}
                {{- block('listing_category_widget_options_tree') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ indent  ~ choice.label }}
            </option>
        {%- endif -%}
        {% endautoescape %}
    {% endfor %}
{%- endblock listing_category_widget_options_tree %}


{%- block listing_category_widget_multiselect_js %}
    <script>
        // Categories
        document.addEventListener("DOMContentLoaded", function() {
            // Set default favourites in the listing
            common.application.setDefaultFavourites();

            common.application.initMultiSelect(
                    '#sector',
                    'Tous',
                    'Aucun',
                    'Sélectionnés'
            );
            console.log('Destroying bad jcf');
            $('.multiselect input').addClass('jcf-ignore');
        });
    </script>
{%- endblock  %}

{% block _listing_categories_widget %}
    {#
    {{ block('_listing_categories_listingListingCategories_widget_select') }}
    #}
    {{ block('_listing_categories_listingListingCategories_widget_old') }}
{% endblock %}
