{% extends 'form_div_layout.html.twig' %}

{% trans_default_domain 'cocorico' %}

{# Labels #}
{#@formatter:off#}
{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% set label_required = "" %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% set label_required %}
                <span>*</span>
                {% endset %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            <label{% for attrname, attrvalue in label_attr if attrname != 'data-icon' %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if 'data-icon' in label_attr|keys %}
                <i class="ico-beta {{label_attr['data-icon']}}"></i>
            {% endif %}
            {% autoescape false %}
            {{ label|trans({}, translation_domain) }}
            {% endautoescape %}
            {{ label_required }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock %}
{#@formatter:on#}


{# Form Error #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% set existing_errors = [] %}

            <div class="errors">
                {% for error in errors %}
                    {#duplicate errors#}
                    {% if error.message not in existing_errors %}
                        <i class="icon-error-field"></i>
                        {{ error.message|trans(error.messageParameters) }}<br/>
                        {% set existing_errors = existing_errors|merge([error.message]) %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% if not form.vars.valid %}
                <div class="flashes">
                    <div class="alert alert-error-new">
                        <i class="ico icon-error"></i>

                        <p>
                            {{ 'form.error'|trans }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{# Form Row #}
{% block form_row %}
    {% spaceless %}
        <div class="form-row">
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{# Help message #}
{% block form_widget_simple -%}
    {% spaceless %}
        {{ parent() }}

        {% set help_text="" %}
        {% if help is defined %}
            {% set  help_text = help %}
        {% elseif  attr.help is defined %}
            {% set  help_text = attr.help %}
        {% endif %}

        {% if help_text %}
            <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button"
                    type="button" data-original-title="{{ help_text|trans }}">?
            </button>
        {% endif %}
    {% endspaceless %}
{%- endblock %}

{% block choice_widget -%}
    {% spaceless %}
        {{ parent() }}

        {% if help is defined %}
            <span class="help">{{ help|trans }}</span>
        {% elseif  attr.help is defined %}
            <span class="help">{{ attr.help|trans }}</span>
        {% endif %}

        {% if help_plain is defined %}
            <span class="ending">{{ help_plain|trans }}</span>
        {% elseif  attr.help_plain is defined %}
            <span class="ending">{{ attr.help_plain|trans }}</span>
        {% endif %}
    {% endspaceless %}
{%- endblock %}


{# Categories tree  widget #}
{% block _listing_categories_widget -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('listing_category_widget_options_tree') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('listing_category_widget_options_tree') -}}
    </select>
{%- endblock %}

{% block listing_category_widget_options_tree -%}
    {% for group_label, choice in options %}
        {% set category = choice.data %}
        {% set indent = '-'|repeat(category.getLvl) %}

        {%- if not category.isLeaf -%}
            {#|trans({}, translation_domain)#}
            <optgroup label="{{ indent ~ " " ~ category.getName() }}">
                {% set options = choice %}
                {{- block('listing_category_widget_options_tree') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ indent ~ " " ~ choice.label }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock listing_category_widget_options_tree %}


{% block file_widget %}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }}
               data-jcf='{"buttonText": "{{ 'listing.file.button.text'|trans }}", "placeholderText": "{{ 'listing.file.placeholder.text'|trans }}"}'/>

        {#{{ block('form_widget') }}#}
        {% if image_url|default(null) is not null %}
            <img src="{{ image_url| imagine_filter(imagine_filter|default('listing_xsmall')) }}"/>
        {% endif %}

    {% endspaceless %}
{% endblock %}



{#
     Common Collection widget item
#}
{% macro collectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li>
            {% set fieldNum = 1 %}
            {% for row in rows %}
                {% if "hidden" not in row.vars.block_prefixes %}
                    <div class="{{ row.vars.id }}">
                        {{ form_errors(row) }}
                        {{ form_label(row) }}
                        {{ form_widget(row) }}
                    </div>
                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(row) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <a class="remove" title="Remove" href="javascript:void(0)" onclick="$(this).parent().remove();">
                    <span>{{ 'collection.remove_item'|trans }}</span>
                </a>
            {% endif %}

        </li>

    {% endspaceless %}
{% endmacro %}


{#
   Common Collection widget
#}
{% block collection_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.collectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.collectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}


{#
    Discounts collection widget
#}
{% macro discountCollectionItem(rows, allow_delete) %}
    {% set quantityText = {'%quantity_text%': 0|add_time_unit_text} %}
    {% set quantitiesText = {'%quantity_text%': (-1)|add_time_unit_text} %}

    {% spaceless %}
        <ul class="discount-list list-inline js-removed-row">
            {% set fieldNum = 1 %}
            {% for field in rows %}
                {#{{ form_errors(field) }}#}
                {% if "hidden" not in field.vars.block_prefixes %}
                    <li class="{{ field.vars.id }}">
                        {% if field.vars.name == "discount" %}
                            {{ form_errors(field) }}
                            <span class="label">{{ form_label(field) }}</span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'decrement',
                                    'attr': {
                                        'data-ending': '%',
                                        'type': 'number',
                                        'class': 'form-control jcf-real-element',

                                    }
                                }) }}
                            </div>
                        {% elseif field.vars.name == "fromQuantity" %}
                            {{ form_errors(field) }}
                            <span class="label">
                                {{ form_label(field,
                                field.vars.label|trans(quantityText, 'cocorico_listing')) }}
                            </span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'per-day-price2',
                                    'attr': {
                                        'type': 'number',
                                        'class': 'form-control',
                                    }
                                }) }}
                            </div>
                        {% endif %}
                    </li>

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                {#remove#}
                <li>
                    <span class="label">
                        {{ 'listing_edit.form.from_quantity.bought'|trans(quantitiesText, 'cocorico_listing') }}
                    </span>
                    <a class="close" title="Remove" href="javascript:void(0)"
                       onclick="$(this).closest('ul').remove();">
                        <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                        <i class="icon-cancel"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}


{%- block _listing_discount_discounts_widget -%}
    {% set data_prototype = "" %}
    {% if prototype is defined %}
        {% set data_prototype =  _self.discountCollectionItem(form.vars.prototype, allow_delete) %}
    {% endif %}

    <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
        <div class="collection">
            {% for rows in form %}
                {{ _self.discountCollectionItem(rows, allow_delete) }}
            {% endfor %}
        </div>

        {% if allow_add|default(null) is not null %}
            <div class="btn-block text-center collection-add-block">
                <a class="add" title="Add" href="">
                    <div style="display: none;"></div>
                    <span>{{ 'collection.add_item'|trans }}</span>
                </a>
            </div>
        {% endif %}
    </div>
{%- endblock -%}



{% macro timeRangesCollectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li class="timepicker-holder time-fields">
            {% set fieldNum = 1 %}
            {% for field in rows %}
                {% if "hidden" not in field.vars.block_prefixes %}
                    {% if field.vars.name == "start" or field.vars.name == "end" %}
                        <div class="{{ field.vars.id }} hidden">
                            {{ form_widget(field,{
                                'attr': {
                                    'class': 'time-field no-arrow',
                                }
                            }) }}
                        </div>
                    {% elseif field.vars.name == "start_picker" or field.vars.name == "end_picker" %}
                        {% if field.vars.name == "start_picker" %}
                            {{ form_errors(rows.start) }}
                            {{ form_label(rows.start) }}
                        {% else %}
                            {{ form_errors(rows.end) }}
                            {{ form_label(rows.end) }}
                        {% endif %}
                        <div class='input-group date' id='datetimepicker3'>
                            {{ form_widget(field,{
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': '--:--',
                                }
                            }) }}
                            <span class="add-on">
                                <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                            </span>
                        </div>
                    {% endif %}

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <a class="close" title="Remove" href="javascript:void(0)"
                   onclick="$(this).parent().remove();">
                    <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                    <i class="icon-cancel"></i>
                </a>
            {% endif %}
        </li>

    {% endspaceless %}
{% endmacro %}

{#
   Time ranges
#}
{% block _time_ranges_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.timeRangesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.timeRangesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{#
   Time ranges for prices edition
#}
{% block _listing_availabilities_prices_time_ranges_widget %}
    {{ block('_time_ranges_widget') }}
{% endblock %}

{#
   Time ranges for status edition
#}
{% block _listing_availabilities_status_time_ranges_widget %}
    {{ block('_time_ranges_widget') }}
{% endblock %}



{#
    Date range widget listing edition
#}
{%- block _date_range_availability_widget -%}
    <div class="col datepicker-holder day-fields display-{{ daysDisplayMode }}">
        <div class="col">
            {{ form_errors(form.start) }}
            <strong class="title">{{ form_label(form.start) }}</strong>

            <div class="input-append date field-holder">
                {{ form_widget(form.start,{
                    'type': 'text',
                    'attr': {
                        'class': 'form-control from',
                        'placeholder': "/      /"
                    }
                }) }}
                <span class="add-on">
                    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                </span>
            </div>
        </div>

        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col">
                {{ form_errors(form.end) }}
                <strong class="title">{{ form_label(form.end) }}</strong>

                <div class="input-append date field-holder">
                    {{ form_widget(form.end,{
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to',
                            'placeholder': "/      /"
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}

{%- endblock -%}


{#
   Date ranges for prices edition
#}
{% block _listing_availabilities_prices_date_range_widget %}
    {{ block('_date_range_availability_widget') }}
{% endblock %}

{#
   Date ranges for status edition
#}
{% block _listing_availabilities_status_date_range_widget %}
    {{ block('_date_range_availability_widget') }}
{% endblock %}


{#
    Date range widget
#}
{%- block date_range_widget -%}
    <div class="col datepicker-holder day-fields display-{{ daysDisplayMode }}">
        <div class="col">
            {{ form_errors(form.start) }}
            <strong class="title">{{ form_label(form.start) }}</strong>

            <div class="input-append date field-holder">
                {{ form_widget(form.start,{
                    'type': 'text',
                    'attr': {
                        'class': 'form-control from',
                        'placeholder': "/      /"
                    }
                }) }}
                <span class="add-on">
                    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                </span>
            </div>
        </div>

        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col">
                {{ form_errors(form.end) }}
                <strong class="title">{{ form_label(form.end) }}</strong>

                <div class="input-append date field-holder">
                    {{ form_widget(form.end,{
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to',
                            'placeholder': "/      /"
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}

{%- endblock -%}


{#
    Date range ajax widget
#}
{%- block _date_range_ajax_widget -%}
    <div class="datepicker-holder-ajax">
        <div class="col">
            {{ form_errors(form.start) }}
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            <div class="input-append date field-holder">
                <span class="add-on">
                    <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                </span>

                {{ form_widget(form.start, {
                    'id': 'start-date',
                    'type': 'text',
                    'attr': {
                        'class': 'form-control from',
                        'placeholder': '/      /',
                        'title': 'start-date'
                    }
                }) }}
            </div>
        </div>
        {% if "date_hidden" not in form.end.vars.block_prefixes %}
            <div class="col">
                {{ form_errors(form.end) }}
                <strong class="title">
                    {{ form_label(form.end) }}
                </strong>

                <div class="input-append date field-holder">
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                    </span>

                    {{ form_widget(form.end, {
                        'id': 'end-date',
                        'type': 'text',
                        'attr': {
                            'class': 'form-control to',
                            'placeholder': '/      /',
                            'title': 'date'
                        }
                    }) }}
                </div>
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end, {
                'id': 'end-date'
            }) }}
        {% endif %}
    </div>

    {% if form.nb_days is defined %}
        {% if "hidden" not in form.nb_days.vars.block_prefixes %}
            <div class="col day-fields nb-days">
                <strong class="title">
                    {{ form_label(form.nb_days) }}
                </strong>

                {{ form_errors(form.nb_days) }}
                {{ form_widget(form.nb_days) }}
            </div>
        {% else %}
            {#hidden#}
            {{ form_errors(form.nb_days) }}
            {{ form_widget(form.nb_days) }}
        {% endif %}
    {% endif %}
{%- endblock -%}


{#
    Time range widget:
    If timesDisplayMode parameter is equal to 'duration' then end time field is hidden and duration field is added
    If timePicker parameter is true then select time fields are replaced by timepicker
#}
{%- block time_range_widget -%}
    <div class="col timepicker-holder time-fields display-{{ timesDisplayMode }}">
        <div class="col">
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            {{ form_errors(form.start) }}
            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3'>
                    {{ form_widget(form.start_picker,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder': '--:--',
                        }
                    }) }}
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                    </span>
                </div>
                {#hide start time field#}
                <div class="hidden">
                    {{ form_widget(form.start) }}
                </div>
            {% else %}
                {{ form_widget(form.start) }}
            {% endif %}
        </div>

        {% if timesDisplayMode == "duration" %}
            {#In new booking page there is no nb_minute fields#}
            {% if form.nb_minutes is defined %}
                {#display duration field#}
                <strong class="title">
                    {{ form_label(form.nb_minutes, (-1)|add_time_unit_text|capitalize) }}
                </strong>

                {{ form_errors(form.nb_minutes) }}
                {{ form_widget(form.nb_minutes) }}
            {% endif %}

            {#hide end time field#}
            <div class="hidden">
                {{ form_widget(form.end) }}
            </div>
        {% else %}
            <strong class="title">
                {{ form_label(form.end) }}
            </strong>

            {{ form_errors(form.end) }}
            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3'>
                    {{ form_widget(form.end_picker,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder': '--:--',
                        }
                    }) }}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                {#hide end time field#}
                <div class="hidden">
                    {{ form_widget(form.end) }}
                </div>
            {% else %}
                {{ form_widget(form.end) }}
            {% endif %}
        {% endif %}
    </div>
{%- endblock -%}

{#
    Time range hidden widget:
    Used to hide all date and time fields and to display only field value
#}
{%- block _time_range_hidden_widget -%}
    <li>
        {{ form_errors(form.start) }}
        {{ form_label(form.start) }}
        <time>
            <i class="icon-calendar"></i>
            {{ form.parent.vars.value.startTime|date('H:i') }}
        </time>
        <div class="hidden">
            {{ form_widget(form.start) }}
        </div>
    </li>
    <li>
        {{ form_errors(form.end) }}
        {{ form_label(form.end) }}
        <time>
            <i class="icon-calendar"></i>
            {{ form.parent.vars.value.endTime|date('H:i') }}
        </time>
        <div class="hidden">
            {{ form_widget(form.end) }}
        </div>
        {#hide time picker because all date and time fields are hidden in this page#}
        {% if timePicker %}
            <div class="hidden">
                {{ form_widget(form.start_picker) }}
            </div>
        {% endif %}
    </li>
    <li>&nbsp;</li>
{%- endblock -%}

{#
    Time range ajax widget:
    If timesDisplayMode parameter is equal to 'duration' then end time field is hidden and duration field is added
    If timePicker parameter is true then select time fields are replaced by timepicker
#}
{%- block _time_range_ajax_widget -%}
    <div class="timepicker-holder-ajax time-fields display-{{ timesDisplayMode }}">
        <div class="col">
            {{ form_errors(form.start) }}
            <strong class="title">
                {{ form_label(form.start) }}
            </strong>

            {% if timePicker %}
                <div class='input-group date' id='datetimepicker3'>
                    <span class="add-on">
                        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                    </span>
                    {{ form_widget(form.start_picker,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder': '--:--',
                        }
                    }) }}
                </div>

                <div class="hidden">
                    {{ form_widget(form.start) }}
                </div>
            {% else %}
                {{ form_widget(form.start, {
                    'attr': {
                        'class': 'time-field',
                    }
                }) }}
            {% endif %}
        </div>
        <div class="col">
            {% if timesDisplayMode == "duration" %}
                {{ form_errors(form.nb_minutes) }}
                <strong class="title">
                    {{ form_label(form.nb_minutes, (-1)|add_time_unit_text|capitalize) }}
                </strong>

                {{ form_widget(form.nb_minutes) }}
                {#hide end time field#}
                <div class="hidden">
                    {{ form_widget(form.end) }}
                </div>
            {% else %}
                {{ form_errors(form.end) }}
                <strong class="title">
                    {{ form_label(form.end) }}
                </strong>

                {% if timePicker %}
                    <div class='input-group date' id='datetimepicker3'>
                        <span class="add-on">
                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                        </span>
                        {{ form_widget(form.end_picker,{
                            'attr': {
                                'class': 'form-control',
                                'placeholder': '--:--',
                            }
                        }) }}
                    </div>
                    {#hide end time field#}
                    <div class="hidden">
                        {{ form_widget(form.end) }}
                    </div>
                {% else %}
                    {{ form_widget(form.end, {
                        'attr': {
                            'class': 'time-field',
                        }
                    }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{%- endblock -%}

{#
    Time widget
#}
{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {% if widget == 'text' %}
            {% set vars = {'attr': { 'size': 1 }} %}
        {% else %}
            {% set vars = {'attr': { 'class': 'no-scroll no-arrow'}} %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}
            {% if with_minutes %}
                :{{ form_widget(form.minute, vars) }}
            {% endif %}
            {% if with_seconds %}
                :{{ form_widget(form.second, vars) }}
            {% endif %}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{#
    Weekdays check boxes
#}
{%- block weekdays_widget -%}
    <div {{ block('widget_container_attributes') }}>
        <ul class="list-inline check-list">
            {%- for child in form %}
                <li>
                    {{- form_widget(child) -}}
                    <span class="label">{{- form_label(child) -}}</span>
                </li>
            {% endfor -%}
        </ul>
    </div>
{%- endblock -%}



{#
    Price widget
#}
{%- block price_widget -%}
    {% set help_text="" %}
    {% if help is defined %}
        {% set  help_text = help %}
    {% elseif  attr.help is defined %}
        {% set  help_text = attr.help %}
    {% endif %}

    {#VAT include or exclude text#}
    {% set vatInclusionText = vatInclusionText(app.request.getLocale() ) %}
    {% if include_vat|default(null) is not null %}
        {% set vatInclusionText = vatInclusionText(app.request.getLocale(), null, include_vat ) %}
    {% endif %}

    {% if help_text %}
        <span class="info">
            {{ money_pattern|replace({ '{{ widget }}':''}) }}
            <span class="vat">
                {{ vatInclusionText }}
            </span>
            <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button"
                    type="button" data-original-title="{{ help_text|trans }}">?
            </button>
        </span>
    {% elseif attr.nosign is not defined %}
        <span class="sign">
            {{ money_pattern|replace({ '{{ widget }}':''}) }}
            <span class="vat">
                {{ vatInclusionText }}
            </span>
        </span>
    {% endif %}

    <div class="field-holder">
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock -%}

{%- block price_range_widget -%}
    {% set price_min_default = priceMin / 100 %}
    {% set price_max_default = priceMax / 100 %}

    {% set price_min = form.min.vars.value|default(price_min_default) %}
    {% set price_max = form.max.vars.value|default(price_max_default) %}
    {% set average_search_price = (price_min + price_max) / 2 %}
    {% set currentCurrencySymbol = currencySymbol(currentCurrency) %}

    <div class="range-holder">
        <strong class="title">{{ form_label(form.min) }}</strong>
        <!-- range-box -->
        <div class="range-box">
            <div class="range-bar ui-slider" data-min="{{ price_min_default }}" data-max="{{ price_max_default }}"
                 data-value="{{ average_search_price }}" data-step="10">
                <span class="ui-slider-handle">
                    <span class="value value-left">
                        <span class="text"></span>
                        {{ currentCurrencySymbol }}
                    </span>
                </span>
                <span class="ui-slider-handle">
                    <span class="value value-right">
                        <span class="text"></span>
                        {{ currentCurrencySymbol }}
                    </span>
                </span>
                <input type="hidden" id="{{ form.min.vars.id }}" class="value-min"
                       name="{{ form.min.vars.full_name }}"
                       value="{{ price_min }}">
                <input type="hidden" id="{{ form.max.vars.id }}" class="value-max"
                       name="{{ form.max.vars.full_name }}"
                       value="{{ price_max }}">
            </div>
            <div class="range-price">
                <span class="price">{{ price_min_default }} {{ currentCurrencySymbol }}</span>
                <span class="price right">{{ price_max_default }} {{ currentCurrencySymbol }}</span>
            </div>
        </div>
    </div>
{%- endblock -%}

{#
    Images collection
#}
{% macro imagesCollectionItem(rows, allow_delete) %}
    {% spaceless %}
        <div class="img-thumbnail">

            {% if allow_delete|default(null) is not null %}
                <a href="javascript:void(0)" onclick="$(this).parent().remove();" title="Remove"
                   class="close remove"
                   data-dismiss="alert" aria-label="Close">
                    <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                    <i class="icon-cancel"></i>
                </a>
            {% endif %}

            {% set fieldNum = 1 %}
            {% for row in rows %}
                {% if "hidden" not in row.vars.block_prefixes %}
                    {{ form_errors(row) }}
                    {{ form_label(row) }}
                    <!-- img-thumbnail -->
                    {{ form_widget(row) }}
                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(row) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endmacro %}


{#
   Images Collection widget
#}
{% block _listing_images_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.imagesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
            <!-- files-list -->
            <div class="files-list collection">
                {% for rows in form %}
                    {{ _self.imagesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </div>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-blocks">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}


{#
   Images Collection widget for user profile
#}
{% block _user_images_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.profileImagesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
            <!-- images-list -->
            <div class="list-inline collection files-list js-drag-holder">
                {% for rows in form %}
                    {{ _self.imagesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </div>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
