{% extends 'form_div_layout.html.twig' %}

{% trans_default_domain 'cocorico' %}

{# Labels #}
{#@formatter:off#}
{% block form_label %}
    {% spaceless %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}

            {% set label_required = "" %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% set label_required %}<span> *</span>{% endset %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            {{ '<label ' }}
            {%- for attrname, attrvalue in label_attr -%}
                {%- if attrname != 'data-icon' -%}
                    {{ attrname }}="{{ attrvalue }}"
                {%- endif -%}
            {%- endfor -%}
            {{ '>' }}

            {%- if 'data-icon' in label_attr|keys -%}
                <i class="ico-beta {{label_attr['data-icon']}}"></i>
            {%- endif -%}

            {%- autoescape false -%}
                {{ label|trans({}, translation_domain) }}
            {%- endautoescape -%}

            {{ label_required }}

            {{ '</label>' }}
        {%- endif -%}
    {% endspaceless %}
{% endblock %}
{#@formatter:on#}


{# Form Error #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% set existing_errors = [] %}

            <div class="errors">
                {% for error in errors %}
                    {#duplicate errors#}
                    {% if error.message and error.message not in existing_errors %}
                        <i class="icon-error-field"></i>
                        {{ error.message|trans(error.messageParameters) }}<br/>
                        {% set existing_errors = existing_errors|merge([error.message]) %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% if not form.vars.valid %}
                <div class="flashes">
                    <div class="alert alert-error-new">
                        <i class="ico icon-error"></i>

                        <p>
                            {{ 'form.error'|trans }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{# Form Row #}
{% block form_row %}
    {% spaceless %}
        <div class="form-row">
            {{ form_errors(form) }}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{# Help message #}
{% block form_widget_simple -%}
    {% spaceless %}
        {{ parent() }}

        {% set help_text="" %}
        {% if help is defined %}
            {% set  help_text = help %}
        {% elseif  attr.help is defined %}
            {% set  help_text = attr.help %}
        {% endif %}

        {% if help_text %}
            <button title="" data-placement="right" data-toggle="tooltip" class="tooltip-button"
                    type="button" data-original-title="{{ help_text|trans }}">?
            </button>
        {% endif %}
    {% endspaceless %}
{%- endblock %}

{% block choice_widget -%}
    {% spaceless %}
        {{ parent() }}

        {% if help is defined %}
            <span class="help">{{ help|trans }}</span>
        {% elseif  attr.help is defined %}
            <span class="help">{{ attr.help|trans }}</span>
        {% endif %}

        {% if help_plain is defined %}
            <span class="ending">{{ help_plain|trans }}</span>
        {% elseif  attr.help_plain is defined %}
            <span class="ending">{{ attr.help_plain|trans }}</span>
        {% endif %}
    {% endspaceless %}
{%- endblock %}

{% block file_widget %}
    {% spaceless %}
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" {{ block('widget_attributes') }}
               data-jcf='{"buttonText": "{{ 'listing.file.button.text'|trans }}", "placeholderText": "{{ 'listing.file.placeholder.text'|trans }}"}'/>

        {#{{ block('form_widget') }}#}
        {% if image_url|default(null) is not null %}
            <img src="{{ image_url| imagine_filter(imagine_filter|default('listing_xsmall')) }}"/>
        {% endif %}

    {% endspaceless %}
{% endblock %}



{#
     Common Collection widget item
#}
{% macro collectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li>
            {% set fieldNum = 1 %}
            {% for row in rows %}
                {% if "hidden" not in row.vars.block_prefixes %}
                    <div class="{{ row.vars.id }}">
                        {{ form_errors(row) }}
                        {{ form_label(row) }}
                        {{ form_widget(row) }}
                    </div>
                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(row) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <a class="remove" title="Remove" href="javascript:void(0)" onclick="$(this).parent().remove();">
                    <span>{{ 'collection.remove_item'|trans }}</span>
                </a>
            {% endif %}

        </li>

    {% endspaceless %}
{% endmacro %}


{#
   Common Collection widget
#}
{% block collection_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.collectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.collectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}


{#
    Discounts collection widget
#}
{% macro discountCollectionItem(rows, allow_delete) %}
    {% set quantityText = {'%quantity_text%': 0|add_time_unit_text} %}
    {% set quantitiesText = {'%quantity_text%': (-1)|add_time_unit_text} %}

    {% spaceless %}
        <ul class="discount-list list-inline js-removed-row">
            {% set fieldNum = 1 %}
            {% for field in rows %}
                {#{{ form_errors(field) }}#}
                {% if "hidden" not in field.vars.block_prefixes %}
                    <li class="{{ field.vars.id }}">
                        {% if field.vars.name == "discount" %}
                            {{ form_errors(field) }}
                            <span class="label">{{ form_label(field) }}</span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'decrement',
                                    'attr': {
                                        'data-ending': '%',
                                        'type': 'number',
                                        'class': 'form-control jcf-real-element',

                                    }
                                }) }}
                            </div>
                        {% elseif field.vars.name == "fromQuantity" %}
                            {{ form_errors(field) }}
                            <span class="label">
                                {{ form_label(field,
                                field.vars.label|trans(quantityText, 'cocorico_listing')) }}
                            </span>
                            <div class="field-holder">
                                {{ form_widget(field,{
                                    'id': 'per-day-price2',
                                    'attr': {
                                        'type': 'number',
                                        'class': 'form-control',
                                    }
                                }) }}
                            </div>
                        {% endif %}
                    </li>

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                {#remove#}
                <li>
                    <span class="label">
                        {{ 'listing_edit.form.from_quantity.bought'|trans(quantitiesText, 'cocorico_listing') }}
                    </span>
                    <a class="close" title="Remove" href="javascript:void(0)"
                       onclick="$(this).closest('ul').remove();">
                        <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                        <i class="icon-cancel"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endspaceless %}
{% endmacro %}


{%- block _listing_discount_discounts_widget -%}
    {% set data_prototype = "" %}
    {% if prototype is defined %}
        {% set data_prototype =  _self.discountCollectionItem(form.vars.prototype, allow_delete) %}
    {% endif %}

    <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
        <div class="collection">
            {% for rows in form %}
                {{ _self.discountCollectionItem(rows, allow_delete) }}
            {% endfor %}
        </div>

        {% if allow_add|default(null) is not null %}
            <div class="btn-block text-center collection-add-block">
                <a class="add" title="Add" href="">
                    <div style="display: none;"></div>
                    <span>{{ 'collection.add_item'|trans }}</span>
                </a>
            </div>
        {% endif %}
    </div>
{%- endblock -%}



{% macro timeRangesCollectionItem(rows, allow_delete) %}
    {% spaceless %}
        <li class="timepicker-holder time-fields">
            {% set fieldNum = 1 %}
            {% for field in rows %}
                {% if "hidden" not in field.vars.block_prefixes %}
                    {% if field.vars.name == "start" or field.vars.name == "end" %}
                        <div class="{{ field.vars.id }} hidden">
                            {{ form_widget(field,{
                                'attr': {
                                    'class': 'time-field no-arrow',
                                }
                            }) }}
                        </div>
                    {% elseif field.vars.name == "start_picker" or field.vars.name == "end_picker" %}
                        {% if field.vars.name == "start_picker" %}
                            {{ form_errors(rows.start) }}
                            {{ form_label(rows.start) }}
                        {% else %}
                            {{ form_errors(rows.end) }}
                            {{ form_label(rows.end) }}
                        {% endif %}
                        <div class='input-group date' id='datetimepicker3'>
                            {{ form_widget(field,{
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': '--:--',
                                }
                            }) }}
                            <span class="add-on">
                                <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-clock"></i>
                            </span>
                        </div>
                    {% endif %}

                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(field) }}
                {% endif %}
            {% endfor %}

            {% if allow_delete|default(null) is not null %}
                <a class="close" title="Remove" href="javascript:void(0)"
                   onclick="$(this).parent().remove();">
                    <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                    <i class="icon-cancel"></i>
                </a>
            {% endif %}
        </li>

    {% endspaceless %}
{% endmacro %}

{#
   Time ranges
#}
{% block _time_ranges_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.timeRangesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">

            <ul class="collection">
                {% for rows in form %}
                    {{ _self.timeRangesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </ul>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{#
    Number range widget
#}
{%- block number_range_widget -%}
    <div class="number-range">
        <div class="col">
            {{ form_errors(form.min) }}
            {% if form.min.vars.label %}
                <strong class="title">{{ form_label(form.min) }}</strong>
            {% endif %}
            <div class="field-holder">
                {{ form_widget(form.min,{
                    'attr': {
                        'class': '' ~ form.min.vars.attr.class|default(''),
                    }
                }) }}
            </div>
        </div>

        <div class="col">
            {{ form_errors(form.max) }}
            {% if form.max.vars.label %}
                <strong class="title">{{ form_label(form.max) }}</strong>
            {% endif %}
            <div class="field-holder">
                {{ form_widget(form.max,{
                    'attr': {
                        'class': '' ~ form.max.vars.attr.class|default(''),
                    }
                }) }}
            </div>
        </div>
    </div>
{%- endblock -%}


{#
    Images collection
#}
{% macro imagesCollectionItem(rows, allow_delete) %}
    {% spaceless %}
        <div class="img-thumbnail">

            {% if allow_delete|default(null) is not null %}
                <a href="javascript:void(0)" onclick="$(this).parent().remove();" title="Remove"
                   class="close remove"
                   data-dismiss="alert" aria-label="Close">
                    <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                    <i class="icon-cancel"></i>
                </a>
            {% endif %}

            {% set fieldNum = 1 %}
            {% for row in rows %}
                {% if "hidden" not in row.vars.block_prefixes %}
                    {{ form_errors(row) }}
                    {{ form_label(row) }}
                    <!-- img-thumbnail -->
                    {{ form_widget(row) }}
                    {% set fieldNum = fieldNum + 1 %}
                {% else %}
                    {{ form_widget(row) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endmacro %}


{#
   Images Collection widget
#}
{% block _listing_images_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.imagesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
            <!-- files-list -->
            <div class="files-list collection">
                {% for rows in form %}
                    {{ _self.imagesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </div>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-blocks">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}


{#
   Images Collection widget for user profile
#}
{% block _user_images_widget %}
    {% spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  _self.profileImagesCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }} data-prototype="{{ data_prototype|e }}">
            <!-- images-list -->
            <div class="list-inline collection files-list js-drag-holder">
                {% for rows in form %}
                    {{ _self.imagesCollectionItem(rows, allow_delete) }}
                {% endfor %}
            </div>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block text-center collection-add-block">
                    <a class="add" title="Add" href="javascript:void(0)">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
