{% extends 'CocoricoCoreBundle:Form:fields.html.twig' %}

{% trans_default_domain 'cocorico' %}
{% form_theme form _self %}

{#
    Directory widgets
#}

{# ##########################################
    Directory Labels
########################################## #}
{% macro labelsCollectionItem(child_form, allow_delete) %}
    {% apply spaceless %}
        <tr>
            <td style="width:7rem">
                Intitulé
            </td>
        <td>
            {{ form_widget(child_form.name) }}
        </td>
            {% if allow_delete|default(null) is not null %}
                <td>
                <a href="javascript:void(0)" onclick="$(this).parents('tr').remove();" title="Remove"
                   class="close remove"
                   data-dismiss="alert" aria-label="Close">
                    <span class="hidden">{{ 'collection.remove_item'|trans }}</span>
                    <i class="icon-cancel"></i>
                </a>
                </td>
            {% endif %}
        </tr>
    {% endapply %}
{% endmacro %}

{% block _directory_labels_widget %}
   {% import _self as self %}

    {% apply spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  self.labelsCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div>
            <!-- files-list -->
            <table
                class="labels-list collection"
                {{ block('widget_container_attributes') }}
                data-prototype="{{ data_prototype|e }}"
                data-counter="{{ form|length }}"
                data-tags="{{ '<li></li>'|e }}"
            >
                {% for child_form in form %}
                    {{ self.labelsCollectionItem(child_form, allow_delete) }}
                {% endfor %}
            </table>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block directory-add-blocks">
                    <a class="add-directory-item" title="Add" href="javascript:void(0)" data-list-selector=".labels-list">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endapply %}

{% endblock %}

{# ##########################################
    Directory Offers
########################################## #}
{% macro offersCollectionItem(child_form, allow_delete) %}
    {% apply spaceless %}
        <table>
            <tr><td> {{ form_label(child_form.title, 'titre') }}</td>
                <td> {{ form_widget(child_form.title) }} </td>
                <td> {% if allow_delete|default(null) is not null %}
                    <a href="javascript:void(0)" onclick="$(this).parents('table').remove();" title="Remove"
                       class="close remove"
                       data-dismiss="alert" aria-label="Close">
                        <span class="hidden">Éffacer</span>
                        <i class="icon-cancel"></i>
                    </a> {% endif %}
                </td>
            </tr>
            <tr><td colspan=4> {{ form_label(child_form.description, 'description') }}</td></tr>
            <tr><td colspan=4> {{ form_widget(child_form.description) }} </td></tr>
        </table>
    {% endapply %}
{% endmacro %}

{% block _directory_offers_offers_widget %}
   {% import _self as self %}

    {% apply spaceless %}
        {% set data_prototype = "" %}
        {% if prototype is defined %}
            {% set data_prototype =  self.offersCollectionItem(form.vars.prototype, allow_delete) %}
        {% endif %}
        <div>
            <!-- files-list -->
            <div
                class="offers-list collection"
                {{ block('widget_container_attributes') }}
                data-prototype="{{ data_prototype|e }}"
                data-counter="{{ form|length }}"
                data-tags="{{ '<li></li>'|e }}"
            >
                {% for child_form in form %}
                    {{ self.offersCollectionItem(child_form, allow_delete) }}
                {% endfor %}
            </div>

            {% if allow_add|default(null) is not null %}
                <div class="btn-block directory-add-blocks">
                    <a class="add-directory-item" title="Add" href="javascript:void(0)" data-list-selector=".offers-list">
                        <div style="display: none;"></div>
                        <span>{{ 'collection.add_item'|trans }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endapply %}

{% endblock %}
