{% trans_default_domain 'cocorico_directory' %}

<!-- tabs-aside -->
<aside class="tabs-aside">
    <div class="aside-holder">
        <!-- tabset-holder -->
        <nav class="tabset-holder">
            <a href="#" class="opener">
                <span class="hidden">opener</span>
                <i class="icon-down-open-mini"></i></a>

            <!-- nav-tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="{{ nav_side_dashboard_current == "presentation" ? 'active' : '' }}">
                    <a href="{{
                       path('cocorico_dashboard_directory_edit_presentation', {
                       'id': structure.id }) }}"
                       aria-controls="presentation" data-text="{{ 'nav.directory.presentation.link'|trans }}">
                        {{ 'nav.directory.presentation.link'|trans }}
                    </a>
                </li>
                <li role="presentation" class="{{ nav_side_dashboard_current == "client_image" ? 'active' : '' }}">
                    <a aria-controls="presentation"
                       href="{{
                       path('cocorico_dashboard_directory_edit_client_images', { 'id': structure.id }) }}">
                        Références Client
                    </a>
                </li>
                <li role="presentation" class="{{ nav_side_dashboard_current == "categories" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.directory.categories.link'|trans }}"
                       aria-controls="presentation"
                       href="{{
                       path('cocorico_dashboard_directory_edit_categories', {
                       'id': structure.id }) }}">
                        {{ 'nav.directory.categories.link'|trans }}
                    </a>
                </li>
                <li role="presentation" class="{{ nav_side_dashboard_current == "offers" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.directory.listings.link'|trans }}"
                       aria-controls="presentation"
                       href="{{
                       path('cocorico_dashboard_directory_edit_offers', {
                       'id': structure.id }) }}">
                        {{ 'nav.directory.listings.link'|trans }}
                    </a>
                </li>
                <li role="presentation" class="{{ nav_side_dashboard_current == "networks" ? 'active' : '' }}">
                    <a data-text="{{ 'nav.directory.networks.link'|trans }}"
                       aria-controls="presentation"
                       href="{{
                       path('cocorico_dashboard_directory_edit_networks', {
                       'id': structure.id }) }}">
                        {{ 'nav.directory.networks.link'|trans }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
