{% extends 'CocoricoCoreBundle:Dashboard/Directory:layout.html.twig' %}

{% trans_default_domain 'cocorico_directory' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'listings' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    <fieldset>
        {# FIXME: Enable completion notice screen
        {{ render(controller('CocoricoCoreBundle:Dashboard/Offerer/Directory:completionNotice', {'directory': directory})) }}
        #}

        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="info">

                <div class="form-holder">
                    <h2>Offres de prestations</h2>


                    <div class="row" style="margin-top:15px;">
                        <p>Sélectionnez les offres proposées par la structure</p>
                        {{ form_errors(form.listings) }}
                        {{ form_widget(form.listings, {'attr': {'class': ''}} ) }}
                    </div>

                    <div class="btn-block text-center">
                        <button type="submit" class="btn btn-default">Enregistrer</button>
                    </div>

                </div>
                <!-- form-holder -->
            </div>
        </div>
        <!-- tab-content -->
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        // $(function () {

        // });
    </script>
{% endblock %}
